/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			doc
	Based on style:		prosilver
	Original author:	Dominique Cavailhez © 2019
	--------------------------------------------------------------
*/

@import url("../../prosilver/theme/stylesheet.css");

/* index.php */
.nav-main li:nth-child(2), /* Navbar FAQ  */
.section-posting #poll-panel-tab { /* Sondages */
	display: none !important;
}

/* posting.php */
.section-posting #attach-panel-multi::after {
	content: "Attendre la fin du chargement des fichiers pour enregistrer le sujet.";
	background: yellow;
}

.automatic-document h1 {
	color: black;
}