<ul id="overpass">
	<li>Points externes</li>
	<li><input type="checkbox" name="overpass" id="point_eau" value='["amenity"="drinking_water|watering_place|fountain"]+["waterway"="water_point"]+["natural"="spring"]+["man_made"="water_well"]' />Point d'eau</li>
	<li><input type="checkbox" name="overpass" id="telephone" value='["amenity"="telephone"]' />Cabines téléphoniques</li>
	<li><input type="checkbox" name="overpass" id="wifi" value='["internet_access"~"yes|public|wlan|wired|terminal|service|free|fee|type|access"]' />Café internet</li>
	<li><input type="checkbox" name="overpass" id="ravitaillement" value='["shop"~"supermarket|convenience"]' />Ravitaillement</li>
	<li><input type="checkbox" name="overpass" id="parking" value='["amenity"="parking"]["access"!="private"]' />Parking</li>
</ul>

<script>
	function overlaySelector() {
		return layerOverpass({
			url: '//overpass-api.de/api/interpreter',
			selectorId: 'overpass',
			selectorName: 'overpass',
			labelClass: 'label-overpass',
			iconUrl : '//dc9.fr/chemineur/ext/Dominique92/GeoBB/types_points/',
			postLabel: function(p, f) {
				return ['<a title="Créer une fiche modifiable à partir du point OSM" ' +
						'href="http://chemineur.fr/posting.php?mode=post',
						'f=' + p.type,
						'url=' + encodeURI(p.url),
						'nom=' + p.name,
						'lon=' + p.lon,
						'lat=' + p.lat
					].join('&') +
					'">Créer une fiche Aspir</a>';
			}
		});
	}
</script>
