<!-- IF GEO_MAP_TYPE and POST_ID == TOPIC_FIRST_POST_ID -->
<!-- INCLUDE includes.html -->

<div id="map"></div>

<dl class="posting-point" style="clear: left;">
	<input id="editable-json" name="geom-geometry" type="hidden" value='{GEOJSON}' />

	<!-- IF GEO_MAP_TYPE == 'point' -->
	<!-- INCLUDE position_edit.html -->
	<!-- ENDIF -->

	<!-- IF GEO_MAP_TYPE == 'surface' -->
		<h3>Modification polygone</h3>
		<p>- Cliquer et déplacer un sommet pour modifier un polygone.<br/>
		- Alt+cliquer sur un sommet pour le supprimer.<br/>
		- Cliquer sur un segment puis déplacer pour créer un sommet.</p>
		<h3>Création polygone</h3>
		<p>- Activer "P" puis cliquer sur la carte et sur chaque point du tracé pour dessiner un polygone.
		Double cliquer pour terminer.<br/>
		- Si le nouveau polygone est entièrement compris dans un autre, il crée un "trou".</p>
		<h3>Suppression polygone</h3>
		<p>- Ctrl+Alt+cliquer sur un segment d'un polygone pour supprimer ce polygone.</p>
	<!-- ENDIF -->
</dl>

<!-- INCLUDE specific_fields_edit.html -->

<script>
	var map, editable;
	window.addEventListener('load', function() {
		var overlay = geoLayer(0, {TOPIC_ID}, true),
			edit = controlEdit('editable-json', {
				snapLayers: [overlay],
				styleOptions: topicStyleOptions,
				editStyleOptions: editStyleOptions,
				enableAtInit: true,
				title: titleEdit,
				draw: [{
					type: 'Polygon'
				}]
			}),
			extent = edit.source.getExtent(),
			surface
			permalink = controlPermalink({
				init: ol.extent.isEmpty(extent)
			});
		map = new ol.MyMap({
			target: 'map',
			layers: [
				overlay
			],
			controls: geobbControls().concat([
				controlLayersSwitcher(
					layers({GEO_KEYS})
				),
				<!-- IF GEO_MAP_TYPE == 'surface' -->
					edit,
				<!-- ENDIF -->
				permalink
			])
		});

		<!-- IF GEO_MAP_TYPE == 'point' -->
			editable = marker('{EXT_DIR}images/viseur.png', 'editable', permalink.paramsCenter, true);
			map.addLayer(editable);
		<!-- ENDIF -->

		// Center the map
		if (!ol.extent.isEmpty(extent))
			map.getView().fit(
				extent, {
					maxZoom: 15
				}
			);
	});
</script>

<!-- ENDIF -->
