<!-- Openlayers -->
<!-- INCLUDECSS assets/MyOl/ol/ol.css -->
<!-- INCLUDEJS assets/MyOl/ol/ol.js -->

<!-- Recherche par nom -->
<!-- INCLUDECSS assets/MyOl/geocoder/ol-geocoder.min.css -->
<!-- INCLUDEJS assets/MyOl/geocoder/ol-geocoder.js -->

<!-- My Openlayers -->
<!-- INCLUDECSS assets/MyOl/myol.css -->
<!-- INCLUDEJS assets/MyOl/myol.js -->

<!-- Style specific maps functions -->
<!-- INCLUDECSS map.css -->
<!-- INCLUDEJS map.js -->

<div class="map">
	<div id="map"></div>
	<!-- EVENT map_selector -->
</div>

<div class="geo-info">
	<p id="marqueur-json" class="geo-hidden">{GEOJSON}</p>
	<!-- IF GEO_MAP_TYPE == 'point' -->
		<p>Longitude <span id="marqueur-lon"></span>, Latitude <span id="marqueur-lat"></span></p>
		<p id="marqueur-xy">(CH1903) X <span id="marqueur-x"></span>, Y <span id="marqueur-y"></span></p>
	<!-- ENDIF -->

	<!-- IF FORUM_NAME == 'Alpages' -->
	<h2>1. L'alpage</h2>
		<!-- BEGIN contains_point_eau -->
			<a href="viewtopic.php?t={contains_point_eau.TOPIC_ID}">
			<h4 class="geo_contain">{contains_point_eau.TOPIC_TITLE} :</h4></a>
			<ul>
			<!-- BEGIN point -->
				<li>{contains_point_eau.point.K} : {contains_point_eau.point.V}</li>
			<!-- END point -->
			<br/></ul>
		<!-- END contains_point_eau -->
		<!-- IF GEO_EQUIPEMENT --><p>Autres équipements disponibles : {GEO_EQUIPEMENT}</p><!-- ENDIF -->
		<!-- IF GEO_TOPOGRAPHIE --><p>Topographie: {GEO_TOPOGRAPHIE}</p><!-- ENDIF -->
		<!-- IF GEO_SURFACE_ALPAGE --><p>Superficie : {GEO_SURFACE_ALPAGE}</p><!-- ENDIF -->
		<!-- IF GEO_VEGETATION --><p>Végétation : {GEO_VEGETATION}</p><!-- ENDIF -->
		<!-- IF GEO_IGN --><p>Carte IGN : {GEO_IGN}</p><!-- ENDIF -->
		<!-- IF GEO_OPERATEUR --><p>Opérateur téléphonique recommandé : {GEO_OPERATEUR}</p><!-- ENDIF -->
		<!-- IF GEO_COMMUNE --><p>Commune sur laquelle est située l'alpage : {GEO_COMMUNE}</p><!-- ENDIF -->
		<!-- IF GEO_ACCES --><p>Accès : {GEO_ACCES}</p><!-- ENDIF -->
		<!-- IF GEO_PARKING --><p>Où se garer : {GEO_PARKING}</p><!-- ENDIF -->
		<!-- IF GEO_PARCOURS --><p>Temps de parcours : {GEO_PARCOURS} minutes</p><!-- ENDIF -->
		<!-- IF GEO_MAE --><p>Présence de MAE : {GEO_MAE}</p><!-- ENDIF -->
		<!-- IF GEO_RESERVE --><p>Réserve de parc régional ou national : {GEO_RESERVE}</p><!-- ENDIF -->
		<!-- IF GEO_USAGERS --><p>Présence d'autres usagers : {GEO_USAGERS}</p><!-- ENDIF -->
		<p><!-- IF GEO_HELIPORTAGE_DATE -->Héliportage : {GEO_HELIPORTAGE_DATE}<!-- ENDIF -->
		<!-- IF GEO_HELIPORTAGE_POIDS -->poids : {GEO_HELIPORTAGE_POIDS} kg<!-- ENDIF --></p>
	<h2>2. Logement</h2>
		<!-- BEGIN contains_cabane -->
			<a href="viewtopic.php?t={contains_cabane.TOPIC_ID}">
			<h4 class="geo_contain">{contains_cabane.TOPIC_TITLE} :</h4></a>
			<ul>
			<!-- BEGIN point -->
				<li>{contains_cabane.point.K} : {contains_cabane.point.V}</li>
			<!-- END point -->
			<br/></ul>
		<!-- END contains_cabane -->
	<h2>3. Les bêtes</h2>
	<h2>4. Les éleveurs</h2>
	<!-- ENDIF -->

	<!-- IF FORUM_NAME == 'Cabanes' -->
		<!-- IF GEO_ETAT_CABANE --><p>État de la cabane: {GEO_ETAT_CABANE}</p><!-- ENDIF -->
		<!-- IF GEO_DOUCHE --><p>Douche chaude: {GEO_DOUCHE}</p><!-- ENDIF -->
		<!-- IF GEO_WC --><p>WC: {GEO_WC}</p><!-- ENDIF -->
		<!-- IF GEO_RANGEMENTS --><p>Rangements: {GEO_RANGEMENTS}</p><!-- ENDIF -->
		<!-- IF GEO_SURFACE_CABANE --><p>Surface de la cabane: {GEO_SURFACE_CABANE} m<sup>2</sup></p><!-- ENDIF -->
		<!-- IF GEO_GAZINIERE --><p>Gazinière: {GEO_GAZINIERE}</p><!-- ENDIF -->
		<!-- IF GEO_GAZ_FOURNI --><p>Gaz fourni par les éleveurs: {GEO_GAZ_FOURNI}</p><!-- ENDIF -->
		<!-- IF GEO_EAU --><p>Eau potable: {GEO_EAU}</p><!-- ENDIF -->
		<!-- IF GEO_ELECTRICITE --><p>Électricité: {GEO_ELECTRICITE}</p><!-- ENDIF -->
		<!-- IF GEO_USTENSILE --><p>Ustensiles cuisine: {GEO_USTENSILE}</p><!-- ENDIF -->
		<p><!-- IF GEO_CABANE_LITS_NB -->Literie: {GEO_CABANE_LITS_NB} lit<!-- IF GEO_CABANE_LITS_NB > 1-->s<!-- ENDIF --><!-- ENDIF -->
		<!-- IF GEO_CABANE_LITS_ETAT -->état : {GEO_CABANE_LITS_ETAT}<!-- ENDIF --></p>
	<!-- ENDIF -->
</div>
<hr clear="all" style="border-color:transparent">

<script>
	window.addEventListener('load', function() {
		var map = new ol.Map({
				target: 'map',
				layers: [geoLayer({TOPIC_ID})],
				controls: geobbControls()
			});
		map.addControl(controlLayersSwitcher(
			layers({GEO_OLKEYS})
		));
		map.addControl(controlPermalink({
			init: false,
			visible: false
		}));

		<!-- IF GEO_MAP_TYPE == 'point' -->
			var marqueur = marker(markerImage, 'marqueur'),
				pos = marqueur.getPoint().getCoordinates();
			map.addLayer(marqueur);
			map.getView().setCenter(pos);
			map.getView().setZoom(15);
		<!-- ENDIF -->
		<!-- IF GEO_MAP_TYPE == 'surface' -->
			var eljson = document.getElementById('marqueur-json'),
				format = new ol.format.GeoJSON({
					featureProjection: "EPSG:3857"
				}),
				source = new ol.source.Vector({
					features: format.readFeatures(eljson.innerHTML)
				});
			map.getView().fit(source.getExtent());
		<!-- ENDIF -->
	});
</script>
