<!-- IF GEO_MAP_TYPE -->
<!-- INCLUDE overall_geobb_includes.html -->

<div id="map-frame">
	<div id="map"></div>
	<!-- INCLUDE overall_map_selector.html -->
</div>

<!-- INCLUDE viewtopic_specific_fields.html -->
<!-- INCLUDE viewtopic_edit_button.html -->

<script>
	window.addEventListener('load', function() {
		var geom = false,
			map = new ol.MyMap({
			target: 'map',
			layers: [
				geoLayer({TOPIC_ID})
			],
			controls: geobbControls({
				controlPermalink:{
					init: '{GEO_MAP_TYPE}' == ''
				}
			})
		});

		<!-- IF GEO_MAP_TYPE == 'point' -->
			var marqueur = marker('{EXT_DIR}images/cadre.png', 'marqueur'),
				pos = marqueur.getPoint().getCoordinates();
			map.addLayer(marqueur);

			// Center the map
			map.getView().setCenter(pos);
			map.getView().setZoom(15);
		<!-- ELSEIF GEO_MAP_TYPE == 'surface' && GEOJSON -->
			var eljson = document.getElementById('marqueur-json'),
				format = new ol.format.GeoJSON({
					featureProjection: "EPSG:3857"
				}),
				source = new ol.source.Vector({
					features: format.readFeatures(eljson.innerHTML)
				});

			// Center the map
			map.getView().fit(source.getExtent());
		<!-- ENDIF -->
	});
</script>
<!-- ENDIF -->
