<!-- Openlayers -->
<!-- INCLUDEJS assets/MyOl/ol/ol.js -->
<!-- INCLUDECSS assets/MyOl/ol/ol.css -->

<!-- Recherche par nom
<!-- INCLUDECS assets/MyOl/geocoder/ol-geocoder.min.css -->
<!-- INCLUDEJS assets/MyOl/geocoder/ol-geocoder.js -->

<!-- My Openlayers -->
<!-- INCLUDEJS assets/MyOl/myol.js -->
<!-- INCLUDECSS assets/MyOl/myol.css -->

<!-- Style specific maps functions -->
<!-- INCLUDEJS map.js -->

<div id="map"></div>

<script>
	var mapkeys = 888; //TODO

	window.addEventListener('load', function() {
		var map = new ol.Map({
			target: 'map',
			controls: controlsCollection(),
			view: new ol.View({
				center: ol.proj.fromLonLat([6.336, 44.534]), // France
				zoom: 14
			})
		});
	});
</script>
