<!-- Openlayers -->
<link  href="assets/MyOl/ol/ol.css?assets_version={T_ASSETS_VERSION}" type="text/css" rel="stylesheet">
<script src="assets/MyOl/ol/ol.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- Recherche par nom -->
<link  href="assets/MyOl/geocoder/ol-geocoder.css?assets_version={T_ASSETS_VERSION}" type="text/css" rel="stylesheet">
<script src="assets/MyOl/geocoder/ol-geocoder-debug.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- My Openleyers -->
<link  href="assets/MyOl/myol.css?assets_version={T_ASSETS_VERSION}" type="text/css" rel="stylesheet">
<script src="assets/MyOl/myol.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- This map -->
<script>
	var map_type = 'index';
</script>

<!-- INCLUDECSS @Dominique92_GeoBB/map.css -->
<!-- INCLUDEJS @Dominique92_GeoBB/map.js -->

<div id="map"></div>