<!-- TODO -->OVERALL_FOOTER_BODY_AFTER.HTML
<!-- IF GEO_MAP_TYPE -->
	<!-- Openlayers -->
	<link  href="{EXT_DIR}assets/MyOl/ol/ol.css" type="text/css" rel="stylesheet">
	<script src="{EXT_DIR}assets/MyOl/ol/ol.js"></script>

	<!-- Recherche par nom
	<link  href="{EXT_DIR}assets/MyOl/geocoder/ol-geocoder.css" type="text/css" rel="stylesheet">
	<script src="{EXT_DIR}assets/MyOl/geocoder/ol-geocoder-debug.js"></script> -->

	<!-- Proj4 projections Swiss & UK
	<script src="{EXT_DIR}assets/MyOl/proj4/proj4-src.js"></script> -->

	<!-- My Openleyers -->
	<link  href="{EXT_DIR}assets/MyOl/myol.css" type="text/css" rel="stylesheet">
	<script src="{EXT_DIR}assets/MyOl/myol.js"></script>

	<!-- INCLUDEJS map_{STYLE_NAME}.js -->
<!-- ENDIF -->




<!-- IF STYLE_NAME -->
<!-- ENDIF -->

aaa{STYLE_NAME}zzz|||
aaa{SCRIPT_NAME}zzz

<!-- IF WWW_GEO_MAP_TYPE -->
	<link href="{EXT_DIR}styles/all/theme/map.css" rel="stylesheet" type="text/css" />
	<!-- Resize -->
		<link href="assets/jquery-ui/jquery-ui.css" rel="stylesheet">
		<script src="assets/jquery-ui/jquery-ui.min.js"></script>
	<!-- End resize -->

	<!-- Ol -->
	<script>
		var key = {MAP_KEYS};
	</script>
	<script src="assets/myol/myol.js"></script>
	<link href="assets/myol/myol.css" rel="stylesheet">

	<link href="{EXT_DIR}styles/all/theme/map.css" rel="stylesheet" />
	<script>
		<!-- INCLUDE map.js -->
		<!-- INCLUDE {SCRIPT_NAME}_map_{GEO_MAP_TYPE}.js -->
	</script>
<!-- ENDIF -->
