<!-- IF GEO_MAP_TYPE and POST_ID == TOPIC_FIRST_POST_ID -->
<!-- INCLUDE map.html -->

<div id="map"></div>

<dl class="posting-point" style="clear: left;">
	<input id="editable-json" name="geom-geometry" type="hidden" value='{GEOJSON}' />
	<!-- IF 0 -->//TODO-CHEM pour all :
		<p>Massif <input type="text" name="geo_massif-varchar-50" size="25" class="inputbox autowidth" value="{GEO_MASSIF}" /> (*)</p>
	<!-- ENDIF -->

	<!-- IF GEO_MAP_TYPE == 'point' -->
		<!-- INCLUDE posting_point_position.html -->
	<!-- ENDIF -->

	<!-- IF GEO_MAP_TYPE == 'line' -->
		<!-- IF 0 -->//TODO explications sur la page<!-- ENDIF -->
	<!-- ENDIF -->

	<!-- IF GEO_MAP_TYPE == 'surface' -->
		<h3>Modification polygone</h3>
		<p>- Cliquer et déplacer un sommet pour modifier un polygone.<br/>
		- Alt+cliquer sur un sommet pour le supprimer.<br/>
		- Cliquer sur un segment puis déplacer pour créer un sommet.</p>
		<h3>Création polygone</h3>
		<p>- Activer "P" puis cliquer sur la carte et sur chaque point du tracé pour dessiner un polygone.
		Double cliquer pour terminer.<br/>
		- Si le nouveau polygone est entièrement compris dans un autre, il crée un "trou".</p>
		<h3>Suppression polygone</h3>
		<p>- Ctrl+Alt+cliquer sur un segment d'un polygone pour supprimer ce polygone.</p>
	<!-- ENDIF -->
</dl>

<!-- INCLUDE posting_specific_fields.html -->

<script>
	var map, editable, permaCenter;
	window.addEventListener('load', function() {
		var overlay = geoLayer(0, {TOPIC_ID}, true),
			edit = controlEdit({
				inputId: 'editable-json',
				snapLayers: [overlay],
				styleOptions: topicStyleOptions,
				editStyleOptions: editStyleOptions,
				enableAtInit: true,
				draw: [{
					type: 'LineString'
				}, {
					type: 'Polygon'
				}]
			});

		map = new ol.MyMap({
			target: 'map',
			layers: [
				overlay
			],
			controls: controlsCollection({
				geoKeys: {GEO_KEYS},
				controlPermalink: {
					visible: false,
					init: !{POST_ID},
					initialCenter: function(c) {
						permaCenter = c;
					}
				},
				controlDownloadGPX: {
					fileName: 'topic' //TODO name option
				}
			})
		});

		<!-- IF GEO_MAP_TYPE == 'point' -->
			editable = marker('{EXT_DIR}images/viseur.png', 'editable', permaCenter, true);
			map.addLayer(editable);
		<!-- ELSE -->
			map.addControl(edit);
		<!-- ENDIF -->

		// Center the map
		if ({POST_ID})
			map.getView().fit(
				edit.source_.getExtent(), {
					maxZoom: 15
				}
			);
	});
</script>

<!-- ENDIF -->
