<!-- Openlayers -->
<!-- INCLUDECSS assets/MyOl/ol/ol.css -->
<!-- INCLUDEJS assets/MyOl/ol/ol.js -->

<!-- Recherche par nom -->
<!-- INCLUDECSS assets/MyOl/geocoder/ol-geocoder.min.css -->
<!-- INCLUDEJS assets/MyOl/geocoder/ol-geocoder.js -->

<!-- Proj4 projections Swiss & UK -->
<!-- INCLUDEJS assets/MyOl/proj4/proj4.js -->

<!-- My Openlayers -->
<!-- INCLUDECSS assets/MyOl/myol.css -->
<!-- INCLUDEJS assets/MyOl/myol.js -->

<!-- Style specific maps functions -->
<!-- INCLUDECSS map.css -->
<!-- INCLUDEJS map.js -->

<div id="map"></div>

<div>
	<input id="marqueur-json" type="hidden" value='{GEOMJSON}'></input>
	<p>Longitude <span id="marqueur-lon"></span>, Latitude <span id="marqueur-lat"></span></p>
	<p id="marqueur-xy">(CH1903) X <span id="marqueur-x"></span>, Y <span id="marqueur-y"></span></p>

	<!-- IF GEO_ALTITUDE -->
		<p><span>Altitude</span>{L_COLON}{GEO_ALTITUDE} m</p>
	<!-- ENDIF -->
	<!-- IF GEO_MASSIF -->
		<p><span>Massif</span>{L_COLON}{GEO_MASSIF}</p>
	<!-- ENDIF -->
	<!-- IF GEO_PLACES -->
		<p>Place<!-- IF GEO_PLACES > 1 -->s<!-- ENDIF -->{L_COLON}{GEO_PLACES}</p>
	<!-- ENDIF -->
</div>
<hr clear="all" style="border-color:transparent">

<script>
	window.addEventListener('load', function() {
		var map = new ol.Map({
				target: 'map',
				controls: geobbControls()
			});
		map.addControl(controlLayersSwitcher(
			layers({GEO_OLKEYS})
		));
		map.addControl(controlPermalink({
			init: false,
			visible: false
		}));
		
	<!-- IF GEO_TOPIC_TYPE == 'point' -->
		var marqueur = marker(markerImage, 'marqueur'),
			pos = marqueur.getPoint().getCoordinates();
		map.addLayer(geoLayer());
		map.addLayer(marqueur);
		map.getView().setCenter(pos);
		map.getView().setZoom(15);
	<!-- ENDIF -->
	<!-- IF GEO_TOPIC_TYPE == 'surface' -->
		map.addLayer(geoLayer());
		map.getView().setCenter([2,45]);
		map.getView().setZoom(8);
//		var extent = [{GEO_BBOX_MINX},{GEO_BBOX_MINY},{GEO_BBOX_MAXX},{GEO_BBOX_MAXY}];
//		map.getView().fit(extent);
	<!-- ENDIF -->
	});
</script>
