<!-- Openlayers -->
<!-- INCLUDECSS assets/MyOl/ol/ol.css -->
<!-- INCLUDEJS assets/MyOl/ol/ol.js -->

<!-- Recherche par nom -->
<!-- INCLUDECSS assets/MyOl/geocoder/ol-geocoder.min.css -->
<!-- INCLUDEJS assets/MyOl/geocoder/ol-geocoder.js -->

<!-- My Openlayers -->
<!-- INCLUDECSS assets/MyOl/myol.css -->
<!-- INCLUDEJS assets/MyOl/myol.js -->

<!-- jquery-ui -->
<!-- INCLUDECSS assets/jquery-ui/jquery-ui.min.css -->
<!-- INCLUDEJS assets/jquery-ui/jquery-ui.min.js -->

<!-- GeoBB -->
<!-- INCLUDECSS geobb.css -->
<!-- INCLUDEJS geobb.js -->

<div id="map-frame">
	<div id="map"></div>
	<!-- EVENT map_selector -->
</div>

<div class="geo_presentation">{GEO_PRESENTATION}</div>
<!-- INCLUDE news.html -->

<script>
	window.addEventListener('load', function() {
		new ol.MyMap({
			target: 'map',
			layers: [
				geoLayer()
			],
			controls: geobbControls().concat([
				controlLayersSwitcher(
					layers({GEO_KEYS})
				),
				controlPermalink({
					init: true,
					visible: true
				})
			])
		});
	});
</script>
