/* Style de la page d'accueil spéciale */
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image:
		url("styles/gym/theme/images/plafond.jpg"),
		url("styles/gym/theme/images/ballons.jpg"),
		url("styles/gym/theme/images/danseuse.gif");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: top, center left, bottom 5% right;
	background-size: 100%, 20%, 160px;
	background-color: white;
	text-align: center;
}
					#avertissement {
						background: yellow;
						font-weight: bold;
						color: red;
					}
#logo {
	float: left;
	margin: 0.3em;
}
#logo img {
	width: 8em;
	border-radius: 1em;
}
@media screen and (max-width: 480px) {
	body {
		background-image: none;
	}
	#logo {
		display: none;
	}
}
.baniere {
	display: inline-block;
	margin: 0.2em;
	padding: 0.4em;
	border-radius: 1em;
	background: #ffc;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 2.4em;
	color: black;
}

.menu il {
	display: inline-block;
	vertical-align: top;
	top:0;
	margin: .3em;
	padding: .5em;
	overflow: hidden;
	border-radius: 2em;
	cursor: pointer;
	transition: 0.5s ease-out;
}
.menu label {
	color: black;
	font-family: Times New Roman;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

.ajax-temp {
	display: inline-block !important;
	wborder: 5px solid;
	wborder-radius: 2em;
	wpadding: 1em;
	wbackground: white;
}
