/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			gym
	Based on style:		prosilver
	Modified by:		Dominique Cavailhez © 2020
    --------------------------------------------------------------
*/
@import url("../../prosilver/theme/stylesheet.css");

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("./images/plafond.jpg"), url("./images/ballons.jpg"), url("./images/danseuse.gif");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: top, center left, bottom 5% right;
	background-size: 100%, 20%, 25%;
	background-color: white;
	text-align: center;
}
					#avertissement {
						background: yellow;
						font-weight: bold;
						color: red;
					}
#logo {
	float: left;
	margin: 0.3em;
}
#logo img {
	width: 8em;
	border-radius: 1em;
}
@media screen and (max-width: 480px) {
	body {
		background-image: none;
	}
	#logo {
		display: none;
	}
}
.baniere {
	display: inline-block;
	margin: 0.2em;
	padding: 0.4em;
	border-radius: 1em;
	background: #ffc;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 2.4em;
	color: black;
}

.menu il {
	display: inline-block;
	vertical-align: top;
	top:0;
	margin: .3em;
	padding: .5em;
	overflow: hidden;
	border-radius: 2em;
	cursor: pointer;
	transition: 0.5s ease-out;
}
.menu label {
	color: black;
	font-family: Times New Roman;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

.ajax-temp {
	display: inline-block !important;
	border: 5px solid;
	border-radius: 2em;
	padding: 1em;
	background: white;
}




/*
.wmenu > il > ul {
	display: none;
}
					#WWWWmenu > il:hover > ul {
						display: block;
					}
.wmenu > il > ul > il {
	display: block;
	margin: .3em;
}
.wmenu label:hover {
	text-decoration: underline;
}
#wfond {
	position: absolute;
	top: 0;
	height: 80px;
	width: 100%;
	background-image: ;
	background-repeat: no-repeat;
}
/* #wdanseuse { * /
	right: 0;
	width: 160px;
	height: 320px;
	wbackground: red;

	float: right;
	width: 100px;
	margin: -14px -16px 0 0;
	border-right: 15px solid white;
	padding: 0;
										wdisplay: none;
}
#menu h4 {
	margin: 0;
}
#wmenu div ul { 
  wopacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
	transition: .5s ease-out;
}

#wmenu div:hover ul {
  position: static;
  opacity: 1;
  z-index: 1;
}

				.submenu-parent ul { 
				  opacity: 0;
				  position: absolute;
				  width: 100%;
				  z-index: -1;
					transition: .5s ease-out;
				}

				.submenu-parent:hover ul {
				  opacity: 1;
				  z-index: 1;
				}

.wsubmenu-parent { position: relative; }

.submenu { 
  wvisibility: hidden; /* hides submenu * /
  opacity: 0;
  wposition: absolute;
  wtop: 100%;
  wleft: 0;
  wwidth: 100%;
  wtransform: translateY(-2em);
  z-index: -1;
	transition: .5s ease-out;
}

.wsubmenu-parent:focus .submenu,
.wsubmenu-parent:focus-within .submenu,
.submenu-parent:hover .submenu {
  wvisibility: visible; /* shows submenu * /
  opacity: 1;
  z-index: 1;
  wtransform: translateY(0%);
  wtransition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition * /
}

/* presentational * /
wbody { padding: 2%; font: 18px/1.4 sans-serif; }

.wnav a { color: #E00; display: block; padding: 0.5em 1em; text-decoration: none; }
.wnav a:hover { color: #F55; }
.wnav ul,
.wnav ul li { list-style-type: none; padding: 0; margin: 0; }

.wnav > ul { background: #EEE; text-align: center; }
.wnav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
.wnav > ul > li:first-child { border-left: none; }

.wsubmenu {
  background: #DDD;
}
*/


/*
	padding: 0;
body {
}
p, h4 {
	margin: 0;
	padding: 0;
	text-align: center;
}
#menu {
	wbackground: green;
	position: relative;
	top: -2.5em;
	transition: 0.5s ease-out;
}
#sous-menu {
	background: green;
}
*/
