/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			aspir
	Based on style:		prosilver
	Original author:	Dominique Cavailhez © 2018
	--------------------------------------------------------------
*/

/*//TODO BEST ASPIR click sur titre de la page */
.site_logo {
	background-image: url("http://aspir.eu/wp-content/uploads/2016/09/jhu-e1464350442860-75x75.jpg");
	background-repeat: no-repeat;
	height: 75px;
}


.wrap {
	max-width: none;
	min-width: none;
}

/* INDEX.PHP NEWS */
.section-index li.header dt {
	font-size: 130%;
	color: #4C5D77;
}
#news .row:after { /* Avoid only 1 news line at the left of the map */
	content: none;
}

.overpass .zoom-out,
.overpass-zoom-out li {
	display: none;
}
.overpass-zoom-out .titre,
.overpass-zoom-out .zoom-out {
	display: list-item;
}

.geo_presentation {
	font-size: 1.2em;
	margin-bottom: 10px;
}

/* Masquages */
/* .nav-main li:nth-child(2), navbar_header FAQ  */
.stat-block, /* QUI EST EN LIGNE... */
.footer-row , /* Lignes copyright en bas */
.birthday-list,
.section-viewforum .bar-top,
.section-viewtopic .bar-top,

.section-posting input[name="save"],
.section-posting input[name="preview"],
.section-posting #options-panel-tab, .section-posting #options-panel, /* Options d'édition */
.section-posting #poll-panel-tab { /* Sondages */
	display: none !important;
}
.section-posting #attach-panel { /* Onglet de chargement de fichier */
	display: block !important;
}

input[type="number"] {
	width: 60px !important;
	text-align: right;
}

.section-posting .remarques {
	margin-top: 1em;
	margin-bottom: 0;
}
.section-posting .format-buttons {
	margin: 0;
}

/* Responsive map for mobiles */
@media screen and (max-width: 600px) {
	.section-posting #map {
		width: 100%;
		float: none;
	}
}

/* POSTING.PHP */
.section-posting #postingbox fieldset.fields1 dt {
	width: auto;
}
.section-posting #postingbox fieldset.fields1 dd {
	margin-left: auto !important;
}
.section-posting .panel {
	margin-bottom: 0px;
}
.section-posting #attach-panel-multi::after {
	color: red;
	content: "attendre la fin du chargement des fichiers pour envoyer.";
}

.geo-info p {
	margin: 0;
}
.geo-info h4 {
	margin-top: 5px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 10px;
	color: #36f !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 10px;
	color: #36f !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 10px;
	color: #36f !important;
}
