.myol-button-switcher {
	float: right;
}
.myol-button-switcher > button {
	font-style: italic;
}
.myol-button-switcher > div {
	right: 0;
    overflow-y: scroll;
}
.myol-button-switcher .myol-single-layer input,
.myol-button-switcher .myol-double-layer span {
	display: none;
}