.ol-control-switcher {
	position: static;
	float: right;
}
.ol-control-switcher .main-overlay,
.ol-control-switcher .sub-overlay {
	background-color: rgb(162, 226, 255, 0.4);
}
.ol-control-switcher .single-layer span {
	font-size: 0.7em;
}
.ol-control-switcher .single-layer input,
.ol-control-switcher .double-layer span,
.ol-control-switcher:hover button,
.ol-control-switcher:not(:hover) > hr,
.ol-control-switcher:not(:hover) > div {
	display: none;
}
.ol-control-switcher hr {
	margin: 0;
}
.ol-control-switcher:hover {
	max-height: calc(100% - 65px);
	overflow: auto;
}
.ol-control-switcher div {
	padding-left: 5px;
}
.ol-control-switcher span,
.ol-control-switcher label {
	color: black;
}
.ol-control-switcher .main-overlay label {
	float: left;
}