/* DEBUG */
pre {
	text-align: left;
}

/* Avertissement au posting */
.section-posting #attach-panel-multi::after {
	content: "Attendre la fin du chargement des fichiers pour enregistrer le sujet.";
	background: yellow;
}

/* Ménage phpBB */
.site_logo {
	background-image: url("./images/logo.jpg");
}
@media (max-width: 600px) {
	#logo {
		display: none !important;
	}
}
#nav-main > li:nth-of-type(1), /* Accès rapide */
#nav-main > li:nth-of-type(2), /* FAQ */
.section-viewtopic .post-buttons li:not(:first-child),
.section-posting #postingbox .fields1 > dl:nth-of-type(1), /* Icône de sujet */
.section-posting #poll-panel-tab, /* Options */
.section-posting #options-panel .fields1 > div, /* Options */
.section-posting #options-panel dl label:not([for=delete_permanent]),
.section-posting #options-panel #edit_reason,
.section-posting #confirm .fields1, /* Détails confirmation destruction */
.section-posting input[name=preview],
.section-posting input[name=save],
.section-posting #smiley-box strong,
.section-posting #review,
.section-posting #topicreview {
	display: none !important;
}

/* Style de la page d'accueil spéciale */
html.gym_index  {
	height: 100%;
}
.gym_index body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("images/plafond.jpg"), url("images/ballons.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: top, center left;
	background-size: 100%, 20%;
	background-color: white;
	text-align: center;
}
.gym_index #logo img {
	background: white;
	float: left;
	margin: 0.5em;
	height: 8em;
	border-radius: 1em;
}
@media (max-width: 600px) {
	.gym_index body {
		background-image: none;
	}
	.gym_index #logo {
		display: none;
	}
}
.gym_index .baniere {
	display: inline-block;
	margin: 0.2em;
	padding: 0.4em;
	border-radius: 1em;
	background: #ffc;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 1.5em;
	color: black;
}
.gym_index .menu il {
	display: inline-block;
	vertical-align: top;
	top:0;
	margin: .3em;
	padding: .5em;
	overflow: hidden;
	border-radius: 2em;
	cursor: pointer;
	transition: 0.5s ease-out;
}
.gym_index .menu label {
	color: black;
	font-family: Times New Roman;
	font-weight: bold;
	cursor: pointer;
}

/* Style des pages include dans l'acceuil */
#page {
	margin: 0 8%;
	padding: 0 1%;
	background: white;
}
#page .content {
	text-align: justify;
}
#page p {
	margin: 0;
	background: white;
}
#page a {
	cursor: pointer;
	text-decoration: none;
}
@media (max-width: 600px) {
	#page {
		margin: 0;
	}
}

/* Attachements (notamment liens) */
#page .inline-attachment,
#page .inline-attachment dl {
	display: inline-block;
	width: initial;
	max-width: 30vh;
}

/* Images incluses dans le texte */
#page .file {
	margin: 0;
}
#page .file dd { /* Supprime le compte de vues, ... */
	display: none;
}
#page .file img {
	max-width: 30vh;
	border-radius: 1em;
}
.image-gauche .inline-attachment {
	float: left;
	margin-right: 1em;
}
.image-droite .inline-attachment {
	float: right;
	margin-left: 1em;
}
@media (max-width: 600px) {
	.attach-image {
		display: none;
	}
}

/* BBCodes spéciaux */
.titre-gris {
	color: #888;
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom:0.3em;
}
.bandeau-vert {
	text-align: center;
	background-color: #329932;
	color: white;
	font-size: 1.5em;
}
.texte-vert {
	color: rgb(0, 128, 0);
}
.carte {
	margin: 1em 20%;
	width: 60%;
	height: 35vw;
}

/* HORAIRES */
#horaires {
	margin: 1em 0;
	text-align: left;
	font-family: Times New Roman;
	clear: both;
}
#horaires > div:first-line {
	text-indent: 3em;
	text-transform: capitalize;
}
#horaires table {
	width: inherit;
	border-style: solid;
	border-width: 4px;
	border-collapse: collapse;
}
#horaires td {
	border:1px dashed black;
	padding: 0.2em;
}
#horaires a {
	color: inherit;
	font-weight: bold;
	cursor: pointer;
}

#lundi {
	color: #697c46;
}
#lundi table {
	border-color:#99a682;
	border-right-color: #3f4c28;
	border-bottom-color: #3f4c28;
	background-color:#daedb7;
}

#mardi {
	margin-left: 5%;
	color: #803d70;
}
#mardi table {
	border-color:#a87c9e;
	border-right-color: #4e2244;
	border-bottom-color: #4e2244;
	background-color:#f1aee1;
}

#mercredi {
	margin-left: 10%;
	color: #525d7c;
}
#mercredi table {
	border-color:#8a92a6;
	border-right-color: #30384c;
	border-bottom-color: #30384c;
	background-color:#c3ceed;
}

#jeudi {
	margin-left: 15%;
	color: #508e4d;
}
#jeudi table {
	border-color:#89b287;
	border-right-color: #2f582d;
	border-bottom-color: #2f582d;
	background-color:#c1ffbe;
}

#vendredi {
	margin-left: 20%;
	color: #7e5856;
}
#vendredi table {
	border-color:#a88e8d;
	border-right-color: #4e3433;
	border-bottom-color: #4e3433;
	background-color:#efc9c7;
}

#samedi {
	margin-left: 25%;
	color: #6c3f81;
}
#samedi table {
	border-color:#9b7ea9;
	border-right-color: #41244f;
	border-bottom-color: #41244f;
	background-color:#ddb0f2;
}

#dimanche {
	margin-left: 30%;
	color: #468165;
}
#dimanche table {
	border-color:#82a997;
	border-right-color: #284f3d;
	border-bottom-color: #284f3d;
	background-color:#b7f2d6;
}
@media (max-width: 600px) {
	#lundi,
	#mardi,
	#mercredi,
	#jeudi,
	#vendredi,
	#samedi,
	#dimanche {
		margin-left: 0;
		margin-right: 0;
	}
	#horaires table {
		width: 100%;
	}
}

/* Calendrier */
#calendrier {
	width: calc(100%-2px);
	border: 2px solid grey;
}
#calendrier table {
	width: 100%;
	border-collapse: collapse;
}
#calendrier * {
	border-spacing: 0;
}
#calendrier td {
	color: #999;
}
#calendrier td.selected {
	background: #cfc;
	color: black;
	font-weight: bold;
}
#calendrier td {
	border: 1px solid grey;
	text-align: center;
	width: 8%;
	margin: 0;
	padding: 0;
}
#calendrier td:first-child {
	color: black;
}

/* Crayons d'édition */
#edit-page {
	float: right;
}
#edit-user,
#edit-page {
	float: right;
	text-align: right;
}
#edit-user .dropdown-contents {
	display: none;
	position: relative;
	right: 0;
	margin: 0;
	background: white;
	padding: 0.3em;
	text-align: left;
	list-style-type: none;
}
#edit-user:hover .dropdown-contents {
	display: block;
}
#edit-user li {
	margin: 0.3em;
}

/* VIEWTOPIC */
.postbody p {
	margin: 0;
}
#actualites h2 {
	margin: 0;
	padding: 0 0.5em;
	background-color: #329932;
	font-size: 1.2em;
	color: white;
}
#actualites .viewtopic-gym h2,
#actualites .viewtopic-gym div {
	margin-bottom: 0.5em;
}

/* POSTING */
#liste_semaines td {
	min-width: 4em;
	wborder: 0.2px solid grey;
	text-align: right;
}
#liste_semaines td:first-child {
	wpadding-right: 0.3em;
	text-align: left;
}
