/* Avertissement au posting */
.section-posting #attach-panel-multi::after {
	content: "Attendre la fin du chargement des fichiers pour enregistrer le sujet.";
	background: yellow;
}

/* VIEWTOPIC */
.postbody p {
	margin: 0;
}

/* BBcodes spéciaux */
.post-titre-gris {
	color: #888;
	font-size: 2em;
	font-weight: 700;
}
.post-bandeau-vert {
	text-align: center;
	background-color: #329932;
	color: white;
	font-size: 1.5em;
}
.post-texte-vert {
	color: rgb(0, 128, 0);
}

/* HORAIRES */
#horaires {
	font-family: Times New Roman;
	text-align: left;
}
#horaires > div:first-line {
	text-indent: 3em;
	font-size: 1.2em;
	text-transform: capitalize;
}
#horaires table {
	width: inherit;
	border-style: solid;
	border-width: 4px;
	border-collapse: collapse;
}
#horaires td {
	border:1px dashed black;
	padding: 0.2em;
}
#horaires .edit {
	float: right;
}
#horaires a {
	color: inherit;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

#lundi {
	color: #697c46;
}
#lundi table {
	border-color:#99a682;
	border-right-color: #3f4c28;
	border-bottom-color: #3f4c28;
	background-color:#daedb7;
}

#mardi {
	margin-left: 5%;
	color: #803d70;
}
#mardi table {
	border-color:#a87c9e;
	border-right-color: #4e2244;
	border-bottom-color: #4e2244;
	background-color:#f1aee1;
}

#mercredi {
	margin-left: 10%;
	color: #525d7c;
}
#mercredi table {
	border-color:#8a92a6;
	border-right-color: #30384c;
	border-bottom-color: #30384c;
	background-color:#c3ceed;
}

#jeudi {
	margin-left: 15%;
	color: #508e4d;
}
#jeudi table {
	border-color:#89b287;
	border-right-color: #2f582d;
	border-bottom-color: #2f582d;
	background-color:#c1ffbe;
}

#vendredi {
	margin-left: 20%;
	color: #7e5856;
}
#vendredi table {
	border-color:#a88e8d;
	border-right-color: #4e3433;
	border-bottom-color: #4e3433;
	background-color:#efc9c7;
}

#samedi {
	margin-left: 25%;
	color: #6c3f81;
}
#samedi table {
	border-color:#9b7ea9;
	border-right-color: #41244f;
	border-bottom-color: #41244f;
	background-color:#ddb0f2;
}

#dimanche {
	margin-left: 30%;
	color: #468165;
}
#dimanche table {
	border-color:#82a997;
	border-right-color: #284f3d;
	border-bottom-color: #284f3d;
	background-color:#b7f2d6;
}
@media screen and (max-width: 600px) {
	#lundi,
	#mardi,
	#mercredi,
	#jeudi,
	#vendredi,
	#samedi,
	#dimanche {
		margin-left: 0;
		margin-right: 0;
	}
	#horaires table {
		width: 100%;
	}
}

/* Style de la page d'accueil spéciale */
html.gym_index  {
	height: 100%;
}
.gym_index body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image:
		url("ext/Dominique92/Gym/styles/all/theme/images/plafond.jpg"),
		url("ext/Dominique92/Gym/styles/all/theme/images/ballons.jpg"),
		url("ext/Dominique92/Gym/styles/all/theme/images/danseuse.gif");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: top, center left, bottom 5% right;
	background-size: 100%, 20%, 160px;
	background-color: white;
	font-size: 10px;
	text-align: center;
}
.gym_index #logo {
	float: left;
	margin: 0.3em;
}
.gym_index #logo img {
	width: 8em;
	border-radius: 1em;
}
.gym_index @media screen and (max-width: 480px) {
	.gym_index body {
		background-image: none;
	}
	.gym_index #logo {
		display: none;
	}
}
.gym_index .baniere {
	display: inline-block;
	margin: 0.2em;
	padding: 0.4em;
	border-radius: 1em;
	background: #ffc;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 2.4em;
	color: black;
}
.gym_index .menu il {
	display: inline-block;
	vertical-align: top;
	top:0;
	margin: .3em;
	padding: .5em;
	overflow: hidden;
	border-radius: 2em;
	cursor: pointer;
	transition: 0.5s ease-out;
}
.gym_index .menu label {
	color: black;
	font-family: Times New Roman;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

.ajax-temp {
	display: inline-block !important;
	font-size: 1.4em;
}
.ajax-temp p {
	margin: 0;
	background: white;
}
.ajax-temp a {
	cursor: pointer;
}
.ajax-temp img {
	width: 50%;
	border-radius: 1em;
}
.ajax-temp dd {
	display: none;
}
.ajax-temp .content {
	margin: 0 8%;
	padding: 0 1%;
	background: white;
	text-align: left;
}
.ajax-temp .inline-attachment,
.ajax-temp .inline-attachment * {
	display: inline-block;
	margin: 0;
}
.ajax-temp .inline-attachment dd {
	display: none;
}
