#map {
	height: 65vw;
	width: 100%;
	background: #eef5f9;
	font-size: 16px;
	padding-bottom: 5px;
}

@media print {
	html {
		height: initial;
	}
	#map {
		padding: 0;
	}

	/* Force attribution open */
	.ol-attribution {
	  background: rgba(255,255,255,0.8);
	}
	.ol-attribution ul {
	  display: block !important;
	}
	.ol-attribution button {
	  display: none;
	}
}
