/* Card's encapsulation */
#map-frame {
	float: right;
	background: rgba(0,0,0,0);
}
/* Overlay selector, underneath the card */
#map-frame ul {
    list-style-type: none;
	margin-left: 10px;
	margin-bottom: 10px;
	background: white;
}

/* Map area managed by Openlayers */
#map {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: calc(33vw + 266px);
	height: calc(33vw + 266px);
	background-image: linear-gradient(#9AB4CB, #9BCB9A);
}

/* Responsive map for mobiles */
@media screen and (max-width: 700px) {
	#map-frame {
		float: none;
		border-left: none;
	}
	#map {
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	.section-posting #map {
		float: none;
		border-left: none;
		width: 100%;
	}
}

/* News */
.section-index li.header dt {
	font-size: 130%;
	color: #4C5D77;
}
/* Avoid only 1 news line at the left of the map */
#news .row:after {
	content: none;
}

/* posting.php */
.section-posting #attach-panel-multi::after {
	content: "Attendre la fin du chargement des fichiers pour enregistrer le sujet.";
	background: yellow;
}
