<ul>
	<li>Points <a href="http://www.refuges.info">refuges.info</a></li>
	<li><input type="checkbox" name="wri-poi" value="7" checked="checked" />cabanes non gardée</li>
	<li><input type="checkbox" name="wri-poi" value="10" />refuges gardés</li>
	<li><input type="checkbox" name="wri-poi" value="23" />points d'eau</li>
</ul>
<br/>
<ul id="overpass">
	<li class="titre">Points <a href="https://www.openstreetmap.org">OpenStreetMap</a></li>
	<li class="zoom-out">Zone trop large : zoomer pour voir les points</li>
	<li><input type="checkbox" name="overpass" id="point_eau" value='["amenity"="drinking_water|watering_place|fountain"]+["waterway"="water_point"]+["natural"="spring"]+["man_made"="water_well"]' />Points d'eau</li>
	<li><input type="checkbox" name="overpass" id="telephone" value='["amenity"="telephone"]' />Cabines téléphoniques</li>
	<li><input type="checkbox" name="overpass" id="wifi" value='["internet_access"~"yes|public|wlan|wired|terminal|service|free|fee|type|access"]' />Cafés internet</li>
	<li><input type="checkbox" name="overpass" id="ravitaillement" value='["shop"~"supermarket|convenience"]' />Ravitaillements</li>
	<li><input type="checkbox" name="overpass" id="parking" value='["amenity"="parking"]["access"!="private"]' />Parkings</li>
</ul>
