<dl style="clear: left;">
	<dt><label>Créer une ligne{L_COLON}</label></dt><dd>Cliquer sur le contrôle "Tracer une ligne" puis à l'emplacement du premier sommet...</dd>
	<dt><label>Ajouter un sommet{L_COLON}</label></dt><dd>Déplacer un marqueur au milieu d'un côté.</dd>
	<dt><label>Déplacer un sommet{L_COLON}</label></dt><dd>Le déplacer. Les sommets déplacés "collent" aux sommets des autres lignes et prennent exactement leur position.</dd>
	<dt><label>Supprimer un sommet{L_COLON}</label></dt><dd>Cliquer une fois dessus.</dd>
	<dt><label>Etendre une ligne{L_COLON}</label></dt><dd>Cliquer sur le contrôle "Tracer une ligne" puis sur l'extrémité à étendre...</dd>
	<dt><label>Fusionner deux lignes{L_COLON}</label></dt><dd>Joindre une extrémité de chacune.</dd>
	<dt><label>Supprimer une ligne{L_COLON}</label></dt><dd>Cliquer sur le contrôle "poubelle" puis sur un segment.</dd>
	<dt title="GPX, KML geoJson"><label>Importer une trace{L_COLON}</label></dt><dd>Cliquer sur le contrôle "Flèche montante".</dd>
	<dt id="edit-change" style="display:none"><label>Le tracé a été modifié{L_COLON}</label></dt><dd>Cliquer sur le bouton  "Envoyer" pour sauvegarder.</dd>
</dl>
