<ul class="css-expand">
	<input type="checkbox" id="chm" class="switch">
	<input type="checkbox" name="chm-features" checked="checked" />
	<label for="chm">Chemineur &#9660;</label>
	<span id="chm-features-status"></span>
	<!-- BEGIN geo_categories -->
		<li>
			<input type="checkbox" name="chm-features" value="{geo_categories.CATEGORY}" />
			{geo_categories.CATEGORY_NAME}
		</li>
	<!-- END geo_categories -->
</ul>

<ul class="css-expand">
	<input type="checkbox" id="wri" class="switch">
	<input type="checkbox" name="wri-features" />
	<label for="wri">Refuges.info &#9660;</label>
	<span id="wri-features-status"></span>
	<li><input type="checkbox" name="wri-features" value="7" />cabane non gardée</li>
	<li><input type="checkbox" name="wri-features" value="10" />refuge gardé</li>
	<li><input type="checkbox" name="wri-features" value="9" />gîte d'étape</li>
	<li><input type="checkbox" name="wri-features" value="23" />point d'eau</li>
	<li><input type="checkbox" name="wri-features" value="6" />sommet</li>
	<li><input type="checkbox" name="wri-features" value="3" />passage délicat</li>
	<li><input type="checkbox" name="wri-features" value="16" />lac</li>
	<li><input type="checkbox" name="wri-features" value="28" />bâtiment en montagne</li>
</ul>

<ul class="css-expand">
	<input type="checkbox" id="osm" class="switch">
	<input type="checkbox" name="osm-features" />
	<label for="osm">OSM &#9660;</label>
	<span id="osm-features-status"></span>
	<li><input type="checkbox" name="osm-features" id="City Hall" value='["tourism"~"hotel|guest_house|chalet|hostel|apartment"]' />Hôtel</li>
	<li><input type="checkbox" name="osm-features" id="Residence" value='["tourism"="alpine_hut"]' />Refuge gardé</li>
	<li><input type="checkbox" name="osm-features" id="Lodge" value='["building"="cabin"]' />Cabane non gardée</li>
	<li><input type="checkbox" name="osm-features" id="Fishing Hot Spot Facility" value='["amenity"="shelter"]["shelter_type"="basic_hut"]' />Abri</li>
	<li><input type="checkbox" name="osm-features" id="Campground" value='["tourism"="camp_site"]' />Camping</li>

	<li><input type="checkbox" name="osm-features" id="Drinking Water" value='["amenity"="drinking_water|watering_place|fountain"]+["waterway"="water_point"]+["natural"="spring"]+["man_made"="water_well"]' />Point d'eau</li>
	<li><input type="checkbox" name="osm-features" id="Ground Transportation" value='["highway"="bus_stop"]' />Bus</li>
	<li><input type="checkbox" name="osm-features" id="Parking Area" value='["amenity"="parking"]["access"!="private"]' />Parking</li>
	<li><input type="checkbox" name="osm-features" id="Restaurant" value='["amenity"="restaurant"]' />Restaurants</li>
	<li><input type="checkbox" name="osm-features" id="Shopping Center" value='["shop"~"supermarket|convenience"]' />Alimentation</li>

	<li><input type="checkbox" name="osm-features" id="Restroom" value='["amenity"="toilets"]' />WC</li>
	<li><input type="checkbox" name="osm-features" id="Oil Field" value='["internet_access"~"yes|public|wlan|wired|terminal|service|free|fee|type|access"]' />Café internet</li>
	<li><input type="checkbox" name="osm-features" id="Telephone" value='["amenity"="telephone"]' />Cabines téléphoniques</li>
</ul>

<p class="css-expand">
	<input type="checkbox" name="prc-features" />
	Pyrenees-refuges.com
	<span id="prc-features-status"></span>
</p>
<p class="css-expand">
	<input type="checkbox" name="c2c-features" />
	Camptocamp.org
	<span id="c2c-features-status"></span></li>
</p>
<p class="css-expand">
	<input type="checkbox" name="alp-features" />
	Alpages.info
	<span id="alp-features-status"></span>
</p>