<div class="geo-info">
	<!-- IF GEO_MAP_TYPE == 'point' -->
		<p>Longitude <span id="marqueur-lon"></span>, Latitude <span id="marqueur-lat"></span></p>
		<p id="marqueur-xy">(CH1903) X <span id="marqueur-x"></span>, Y <span id="marqueur-y"></span></p>
	<!-- ENDIF -->

	<!-- BEGIN info -->
		<!-- IF info.INNER and (info.DISPLAY_VALUE or info.DISPLAY or info.attaches) -->
			<{info.TAG1}{info.ATT_STYLE_TAG1}>
				{info.INNER}
				<!-- IF info.DISPLAY_VALUE -->:<!-- ENDIF -->
				<!-- IF info.HREF -->
					<a{info.ATT_HREF}>{info.DISPLAY_VALUE}</a>
				<!-- ELSE -->
					{info.DISPLAY_VALUE}
				<!-- ENDIF -->
				{info.POSTAMBULE}
				<!-- BEGIN attaches -->
					<p> &nbsp; &nbsp; <b><a href="viewtopic.php?t={attaches.TOPIC_ID}" title="voir la fiche">{attaches.POST_SUBJECT}</a></b></p>
					<!-- BEGIN detail -->
						<!-- IF detail.DISPLAY_VALUE and detail.DISPLAY_VALUE != TOPIC_ID -->
							&nbsp; &nbsp; &nbsp; &nbsp; {detail.INNER} : {detail.DISPLAY_VALUE} {info.POSTAMBULE}<br/>
						<!-- ENDIF -->
					<!-- END detail -->
				<!-- END attaches -->
			</{info.TAG1}>
		<!-- ENDIF -->
	<!-- END info -->
</div>
