/* Size & draw the book */
.cover,
.book {
	position: relative; /* To position the child relative to it */
}
.book:after { /* Add background & define height */
	content: url('book-close.svg');
}
.open:after {
	content: url('book-open.svg');
}
.cover:after { /* Add background & define height */
	content: url('book.svg');
}

/* The data DIV */
.cover a,
.book > div {
	position: absolute; /* To the parent */
	top: 4%;
	right: 3.5%;
	width: 45%;
	height: 87.5%;
	font-size: 2vw;
}
.book .left {
	left: 3%;
}
.cover a {
	display: block;
	top: 4.4%;
	right: 7%;
	width: 86%;
	text-decoration: none;
}
.cover h1 {
	margin: 0 0 0.4em 0;
	width: 100%;
	text-align: center;
	font-size: 3vw;
	color: white;
}
.cover p {
	margin: 0;
	color: white;
}

/* Img in the DIV */
.cover img,
.book img {
	/* Fill the available space */
	max-width: 100%;
	max-height: 100%;

	/* Horizontal center */
	display: block;
	margin: auto;

	/* Vertical center */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#previous-page,
#next-page {
	position: absolute;
	top: 44%;
	height: 8vw;
	width: 8vw;
	font-size: 4vw;
	text-decoration: none;
	color: green;
}
#previous-page {
	left: 0.2%;
}
#next-page {
	display: block;
	right: 0.7%;
	text-align: right;
}