/* Spécifique à cette page */
body {
	background-image: url("background.jpg");
	background-size: cover;
	text-align: center;
}
#copyright {
	font-family: 'Dancing Script';
	font-size: 2vw;
}
.xdebug-error {
	font-size: 14px;
	font-family: 'Comic Sans MS';
}
h1 {
	text-transform: capitalize;
}
/*
#titre {
	width: 100%;
	text-align: center;
}
a {
	color: blue;
	font-family: 'Comic Sans MS';
}
.rayon {
}
*/
.rayon > h1 {
	font-family: 'Comic Sans MS';
}
.cover {
	display: inline-block;
	min-width: 32%;
}

/* Size & draw the book */
.cover {
	font-family: 'Comic Sans MS';
}
.cover,
#book {
	position: relative; /* To position the child relative to it */
}
#book:after { /* Add background & define height */
	content: url('book-open.svg');
}
.cover:after { /* Add background & define height */
	content: url('book.svg');
}

/* Page numbers */
#left-number,
#right-number {
	position: absolute; /* To the parent */
	width: 50%;
	bottom: 7.5%;
	right: 0;
	font-size: 1vw;
}
#left-number {
	right: 50%;
}

/* The data DIV */
.cover > div,
#book > div {
	position: absolute; /* To the parent */
	top: 4%;
	right: 3.5%;
	width: 45%;
	height: 87.5%;
}

.cover h1,
#book h1 {
	margin: 0 0 0.4em 0;
	width: 100%;
	text-align: center;
	font-size: 5vw;
}

.cover h1 {
	color: white;
	font-size: 3vw;
}
.cover p {
	margin: 0;
	color: white;
}
.cover > div {
	top: 4.4%;
	right: 7%;
	width: 86%;
	text-decoration: none;
}

#left p {
	text-align: center;
	font-size: 3vw;
	margin: 0;
}
#book a {
	cursor: pointer;
}

#left {
	left: 3%;
	font-family: 'Dancing Script';
}
#right > div {
	height: 100%;
}

/* Img in the DIV */
.cover img,
#right img {
	/* Fill the available space */
	max-width: 100%;
	max-height: 100%;

	/* Horizontal center */
	display: block;
	margin: auto;

	/* Vertical center */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#right:not(:fullscreen) img {
	cursor: zoom-in;
}
#right:fullscreen {
	font-size: 2vw;
}
#right:fullscreen h1 {
	margin: 0;
	font-size: 3vw;
}
#next-img {
	display: none;
}

/* Full screen */
#right:not(:fullscreen) #full {
	display: none;
}
#full {
	position: absolute;
	top: 0;
	height: initial !important;
	background: rgba(255, 255, 255, 0.5);
}
#full * {
	margin: 0;
}
#prev-page-full,
#next-page-full {
	display: block;
	position: fixed;
	top: 50%;
	left: 0;
	font-size: 3vw;
	color: yellow;
}
#next-page-full {
	left: initial;
	right: 0;
}

/* Navigation */
#home,
#prev-page,
#next-page,
#full-screen {
	position: absolute;
	top: 42%;
	width: 4vw;
	font-size: 3vw;
	text-decoration: none;
	color: blue;
}
#home {
	top: 0.4vw;
	left: 1%;
}
#prev-page {
	left: 0;
}
#next-page {
	display: block;
	right: 1%;
	text-align: right;
}
#full-screen {
	top: 0;
	right: 1.7%;
	cursor: zoom-in !important;
}