<!-- IF MAP_TYPE and GEO_JSON -->
	<script>
		var scriptName = '{SCRIPT_NAME}',
			mapType = '{MAP_TYPE}',
			mapKeys = {MAP_KEYS};
	</script>

	<div id="map"></div>
	<input type="hidden" id="geo_json" value='{GEO_JSON}' />
	<p id="point-marker"></p>

	<!-- IF U_MCP -->
		<a class="edit-button"
			href="posting.php?mode=edit&f={FORUM_ID}&p={TOPIC_FIRST_POST_ID}"
			title="Modifier l'entête de la fiche" class="button button-icon-only">
			<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
			<span class="sr-only">{L_BUTTON_EDIT}</span>
		</a>
	<!-- ENDIF -->
<!-- ENDIF -->