/* Modification de l'affichage standard */
@media print{/***************************************************************/
			.section-index #page-body > p, /* Enlève les commentaires prosilver */
			.section-index #page-body .compact, /* Enlève "Marquer tous les forums comme lus" */
			.section-index .statistics,

			.view-point .jumpbox-return,
			.view-point .pagination,
			.postprofile,
			form#viewtopic,
			.report-icon, .info-icon, .warn-icon, /* Viewtopic / post */

			#options-panel, #options-panel-tab,
			/*label[for=delete_permanent],*/
			.submit-buttons input[name="preview"],
			.file-inline-bbcode,
}/***************************************************************************/

/* Ecrase le style de base */

.section-index .action-bar,
.time,
.stat-block,
.footer-row,
.breadcrumbs .icon,
.nav-main,
.headerspace,
#page-footer .navbar {
	display: none !important;
}
body,
.wrap {
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0;
}
.forabg {
	margin: 5px;
}
@media screen and (max-width: 600px) {
	.forabg {
		margin: 0;
	}
}

/* Inhibe l'affichage du descripteur de forum */
.forums .list-inner {
	color: transparent;
}
.forums .list-inner a {
	position: relative;
	top: 10px;
}
.forums .list-inner img {
	position: relative;
	top: 8px;
}

/* Bandeau */
#page-header {
	margin-bottom: 20px;
}
.headerbar {
	background-image: url("images/banniere.jpg");
	height: 60px;
	margin: 0;
	padding: 0;
	border-radius: 0;
}
.logo,
#search-box {
	position: absolute;
	top: -20px;
	right: 10px;
}
.site-description {
	float: none;
	width: auto;
	padding-top: 5px;
	text-align: center;
	color: yellow;
}
.site-description h1 {
	font-size: 3em;
	display: inline;
	color: yellow;
}
.site-description p {
	padding-left: 10px;
	font-size: 1.5em;
}

/* Menu */
.navbar {
	position: absolute;
	top: 43px;
	padding: 0;
	width: 100%;
	background: transparent;
}
.navbar .nav-breadcrumbs {
	margin: 0 10px;
}
.navbar .nav-breadcrumbs li {
	background: #fe0;
	border: 3px outset #dc0;
	padding: 1px 5px;
	cursor: pointer;
}
.navbar span,
.navbar a {
	font-size: 12px;
	font-weight: normal;
	color: blue !important;
}
.dropdown-contents {
	max-height: initial !important;
}
.navbar .nav-breadcrumbs,
.dropdown ul {
	border: 0 !important;
	padding: 0 !important;
}

/* Accueil */ 
.section-index .wrap {
	background-color: #5072BF !important;
	background: url('images/coin_ciel.jpg'); 
	background-repeat: no-repeat ;
}
.username-coloured {
	text-transform: capitalize;
}
.section-index .copyright,
.section-index .copyright a {
	color: white;
}

.nouvelles li {
	margin: 5px;
	text-align: justify;
	font-family: Times New Roman;
	font-size: 1.6em;
	color: white;
}
.nouvelles li:first-child {
	font-weight: bold;
	color: yellow;
	font-size: 2em;
	text-decoration: underline;
}
.nouvelles a {
	font-weight: bold;
	color: yellow;
}
.nouvelles li:last-child a {
	color: white;
	font-size: 12px;
	font-weight: initial;
}

/* Carte */
#map {
	margin: 10px;
}
@media screen and (max-width: 600px) {
	#map {
		margin: 0 !important;
		width: 100% !important;
	}
}

/* Points */
.section-viewtopic.geobb .wrap {
	background: url('images/pierre.jpg'); 
}
.section-viewtopic.geobb .post {
	clear: both;
}
.section-viewtopic.geobb .bar-top,
.section-viewtopic.geobb .topic-title,
.section-viewtopic.geobb .map-coords ,
.section-viewtopic:not(.geobb) #etiquette,
.section-viewtopic:not(.geobb) .postit,
.section-viewtopic:not(.geobb) .photo {
	display: none;
}

#etiquette {
	margin: 20px 10px;
}
@media screen and (max-width: 600px) {
	#etiquette {
		margin: 0 !important;
		width: 100% !important;
	}
}
#etiquette td {
	padding: 0;
}
.ehg, .ehd, .ebg, .ebd {
	height: 36px;
	width: 36px;
	background: url('cadres/etiquette_bg.png');
}
.ehm, .ebm {
	background: url('cadres/etiquette_v.png');
	text-align: right;
}
.emd {
	vertical-align: bottom;
}
.emd img {
	position: relative; right: -27px; bottom: -5px;
}
.emg, .emd {
	background: url('cadres/etiquette_h.png');
}
.ehd {
	background-position: right top;
}
.ebg {
	height: 0;
	background-position: left bottom;
}
.ebd, .emd, .ebm {
	background-position: right bottom;
}
.emm {
	background: white;
}
.emm h1 {
	color: #105289;
	margin-right: 0;
	margin-top: 0;
}
.emm h1 span {
	color: #105289;
	font-size: 0.8em;
}
.emm h3,
.emm .action-bar {
	text-transform: none;
	font-size: 1em;
	padding: 0 2px;
}

/* Posts des points */
.section-viewtopic.geobb_point .postbody h3,
.section-viewtopic.geobb_point .postbody > div > .post-buttons,
.section-viewtopic.geobb_point .postbody .content,
.section-viewtopic.geobb_point .attachbox dt,
.section-viewtopic.geobb_point .signature,
.section-viewtopic.geobb_point .first,
.section-viewtopic.geobb_point .postprofile,
.section-viewtopic.geobb_point .actions-jump,
.section-viewtopic.geobb_point .author {
	display: none;
}
.section-viewtopic.geobb_point .post,
.section-viewtopic.geobb_point .attachbox,
.section-viewtopic.geobb_point .section-viewtopic.geobb_point .bg1,
.section-viewtopic.geobb_point .section-viewtopic.geobb_point .bg2 {
	background: none;
}
.pagination {
	background: white;
}
.section-viewtopic .copyright,
.section-viewtopic .copyright a {
	color: black;
}
.section-viewtopic.geobb_point .postbody {
	width: 100%;
}
.section-viewtopic.geobb_point .postit .post-buttons {
	position: initial;
}
.section-viewtopic.geobb_point .postbody > div {
	clear: both;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.section-viewtopic.geobb_point .bg1 .postbody > div {
	flex-direction: row-reverse;
}
.section-viewtopic.geobb_point .attachbox table {
	margin: 0 auto;
}

/* Postits */
.postit {
	border-spacing: 0;
}
.postit td {
	padding: 0 !important;
}
.thg, .thd, .tbg, .tbd {
	height: 2px; min-width: 2px;
	background: url('cadres/postit_bg.png');
}
.tbd {
	height: 32px; min-width: 32px;
}
.tmd {
	vertical-align: bottom;
}
.tmd img {
	position: relative; right: -20px; bottom: -5px;
}
.thm, .tbm {
	background: url('cadres/postit_v.png');
	text-align: right;
	font-family: Arial;
	font-size: 0.8em;
}
.tmg, .tmd {
	background: url('cadres/postit_h.png');
}
.thd {
	background-position: right top;
}
.tbg {
	background-position: left bottom;
}
.tbd, .tmd, .tbm {
	background-position: right bottom;
}
.tmm {
	background: #F3E358;
}
.tmm p {
	position: relative; left: 12px; top: 5px;
	font-family: Arial;
	font-size: 1em;
	color: #210;
	text-indent: 10px;
	margin-bottom: 0;
}
.tmm .titre {
	font-size: 1.3em;
	font-weight: bold;
}
.tbm p {
	font-size: 0.8em;
	float:right;
	position: relative; left: 10px;
}

/* Photos */
.photo {
	border-spacing: 0;
	margin: 5px 0;
}
.photo td {
	padding: 0 !important;
}
.phg, .phd, .pbg, .pbd {
	height: 10px; min-width: 10px;
	background: url('cadres/photo_bg.png');
}
.pbd {
	height: 14px; min-width: 14px;
}
.phm, .pbm {
	background: url('cadres/photo_v.png');
}
.pbd p {
	height: 12px;
	position: relative;
	top: -12px;
	left: -10px;
}
.pmd {
	vertical-align: bottom;
}
.pmd img {
	position: relative; top: -3px; right: -5px;
}
.pmm {
	background: #FEFEF7;
	text-align: center;
	line-height: 0; /* Sinon, le bord inférieur de la photo à un gap de 2px */
}
.pmg, .pmd {
	background: url('cadres/photo_h.png');
}
.phd {
	background-position: right top;
}
.pbg {
	background-position: left bottom;
}
.pbd, .pmd, .pbm {
	background-position: right bottom;
}
.phm p, .pbm p  {
	font-family: Verdana;
	color: #a00;
	font-size: 0.8em;
}
.phm p {
	font-weight: bold;
	position: relative; left: -5px;
	margin: 0;
}
.pbm p {
	text-align: right;
	position: relative; top: -2px; right: 10px;
	margin: 2px;
}
.photo-comment {
	margin: 10px;
}
.photo-comment span {
	background: #fff;
	padding: 3px;
}
@media print{/***************************************************************/

			.headerspace {
				background: #ECF3F7;
				margin: 5px;
				padding: 5px;
			}
			.headerspace h3 {
				margin: 5px;
			}

			/* Lignes*/
			.hovered {
				background: pink !important;
			}

			/* Posting */
			.avertissement {
				color: red;
			}
}
