<!-- BEGIN topic -->
	<!-- BEGIN post -->
	<!-- IF post.POST_ID == REQUEST_ID -->
		<table id="cal_{post.POST_ID}"
			class="calendrier"
			data-jour="{post.GYM_JOUR}"
			data-semaines="{post.GYM_SEMAINES}"
		>
			<tr><td colspan="6">Les {post.GYM_JOUR_LITERAL}s</td></tr>
			<tr id="cal_{post.POST_ID}_mois_8"><td>Septembre</td></tr>
			<tr id="cal_{post.POST_ID}_mois_9"><td>Octobre</td></tr>
			<tr id="cal_{post.POST_ID}_mois_10"><td>Novembre</td></tr>
			<tr id="cal_{post.POST_ID}_mois_11"><td>Décembre</td></tr>
			<tr id="cal_{post.POST_ID}_mois_0"><td>Janvier</td></tr>
			<tr id="cal_{post.POST_ID}_mois_1"><td>Février</td></tr>
			<tr id="cal_{post.POST_ID}_mois_2"><td>Mars</td></tr>
			<tr id="cal_{post.POST_ID}_mois_3"><td>Avril</td></tr>
			<tr id="cal_{post.POST_ID}_mois_4"><td>Mai</td></tr>
			<tr id="cal_{post.POST_ID}_mois_5"><td>Juin</td></tr>
		</table>
	<!-- ENDIF -->
	<!-- END post -->
<!-- END topic -->