<!-- BEGIN calendrier -->
	<div class="calendrier">
	<table>
		<tr>
			<!-- BEGIN item -->
				<!-- IF item.GYM_IN_CALENDRIER == '' -->
					<td id="tds_{calendrier.POST_ID}_{item.NO}">
						<span id="s_{calendrier.POST_ID}_{item.NO}"></span>
					<td>
				<!-- ELSE -->
					<td id="tds_{calendrier.POST_ID}_{item.NO}" class="selected">
						<a href="viewtopic.php?p={calendrier.POST_ID}"><span id="s_{calendrier.POST_ID}_{item.NO}"></span></a>
					<td>
				<!-- ENDIF -->
				
				<td id="tds_{calendrier.POST_ID}_{item.NO}"
					<!-- IF item.GYM_IN_CALENDRIER != '' -->class="selected"<!-- ENDIF -->>
					<a href="viewtopic.php?p={calendrier.POST_ID}"><span id="s_{calendrier.POST_ID}_{item.NO}"></span></a>
				<td>
			<!-- END item -->
		</tr>
		<tr><td colspan="8">Les {calendrier.GYM_JOUR_LITERAL}s</td></tr>
		<tr id="mois_{calendrier.POST_ID}_8"><td>Septembre</td></tr>
		<tr id="mois_{calendrier.POST_ID}_9"><td>Octobre</td></tr>
		<tr id="mois_{calendrier.POST_ID}_10"><td>Novembre</td></tr>
		<tr id="mois_{calendrier.POST_ID}_11"><td>Décembre</td></tr>
		<tr id="mois_{calendrier.POST_ID}_0"><td>Janvier</td></tr>
		<tr id="mois_{calendrier.POST_ID}_1"><td>Février</td></tr>
		<tr id="mois_{calendrier.POST_ID}_2"><td>Mars</td></tr>
		<tr id="mois_{calendrier.POST_ID}_3"><td>Avril</td></tr>
		<tr id="mois_{calendrier.POST_ID}_4"><td>Mai</td></tr>
		<tr id="mois_{calendrier.POST_ID}_5"><td>Juin</td></tr>
	</table>
	</div>
<!-- END calendrier -->

<script>
	<!-- BEGIN calendrier -->
		displayCalendar({calendrier.POST_ID},{calendrier.GYM_JOUR});
	<!-- END calendrier -->
</script>
