<!-- BEGIN menu -->
<!-- IF menu.POST_ID == REQUEST_P -->
	<!-- BEGIN item -->
		<div class="animatrice">
			<h2>
				<a href="viewtopic.php?p={item.POST_ID}">{item.POST_TITLE}</a>
				<!-- IF U_MCP -->
					<a href="posting.php?mode=edit&p={item.POST_ID}"
						title="Modifier la page {item.POST_TITLE}" class="button button-icon-only">
						<i class="icon fa-pencil"></i>
					</a>
				<!-- ENDIF -->
			</h2>

			{item.MESSAGE}

			<br style="clear:both;height:0" />
		</div>
	<!-- END item -->
<!-- ENDIF -->
<!-- END menu -->
