<!DOCTYPE html>
<html dir="ltr" lang="fr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="icon" type="image/jpg" href="ext/Dominique92/Gym/styles/prosilver/theme/images/icon.jpg" />
	<title><!-- IF POST_SUBJECT -->{POST_SUBJECT}<!-- ELSEIF TOPIC_TITLE -->{TOPIC_TITLE}<!-- ELSE -->{SITENAME} {SITE_DESCRIPTION}<!-- ENDIF --></title>

	<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
	<!-- INCLUDECSS icons.css -->
	<!-- INCLUDEJS {T_JQUERY_LINK} -->
	<link href="{T_ASSETS_PATH}/MyOl/ol/ol.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
	<script src="{T_ASSETS_PATH}/MyOl/ol/ol.js?assets_version={T_ASSETS_VERSION}"></script>
	<!-- INCLUDECSS @Dominique92_Gym/stylesheet.css -->
	<!-- INCLUDEJS @Dominique92_Gym/index.js -->
	{$STYLESHEETS}
	<!-- EVENT overall_header_stylesheets_after -->
</head>

<body class="gym gym-{SCRIPT_NAME}">
<!-- LOGO FÉDÉ -->
<a class="logo" title="Sport Santé" href="https://www.sport-sante.fr/" target="_BLANK">
	<img alt="EPGV" src="ext/Dominique92/Gym/styles/prosilver/theme/images/logo.png">
</a>

<div class="banniere">
	<div class="edit-user">
		<!-- IF S_USER_LOGGED_IN -->
			{S_USERNAME}
			<ul><li>
					<a href="viewforum.php?f=1">Données du site</a>
				<!-- IF U_ACP -->
				</li><li>
					<a href="{U_ACP}">{L_ACP}</a>
				<!-- ENDIF -->
				</li><li>
					<a href="ucp.php?i=ucp_profile&mode=reg_details" title="{L_PROFILE}">Profil utilisateur</a>
				</li><li>
					<a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>
			</li></ul>
		<!-- ELSE -->
			<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="button button-icon-only">
				<i class="icon fa-pencil"></i>
			</a>
		<!-- ENDIF -->
	</div>

	<form action="{U_SEARCH}" method="get" class="recherche">
		<fieldset>
			<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}"
				class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
			<button class="button button-search" type="submit" title="{L_SEARCH}">
				<i class="icon fa-search"></i><span class="sr-only">{L_SEARCH}</span>
			</button>
			{S_SEARCH_HIDDEN_FIELDS}
		</fieldset>
	</form>

	<h1>
		<a title="Retour à l'accueil" href=".">
			{SITENAME}<span> {SITE_DESCRIPTION}</span>
		</a>
	</h1>
</div>

<ul class="menu">
	<!-- BEGIN menu -->
	<li>
		<div style="background:{menu.COLOR_TITLE}">
			<a <!-- IF menu.POST_ID -->href="./?p={menu.POST_ID}"<!-- ENDIF -->>
				{menu.TITLE}</a>

			<!-- IF U_MCP -->
				<!-- IF menu.POST_ID -->
					<a href="posting.php?mode=edit&p={menu.POST_ID}"
				<!-- ELSE -->
					<a href="posting.php?mode=post&t={menu.TOPIC_ID}"
				<!-- ENDIF -->
					title="Modifier la fiche {menu.TITLE}" class="button button-icon-only">
					<i class="icon fa-pencil"></i>
				</a>

				<a href="viewforum.php?f={menu.FORUM_ID}"
					title="Modifier la liste" class="button button-icon-only">
					<i class="icon fa-list"></i>
				</a>
			<!-- ENDIF -->
		</div>

		<ul style="background:{menu.COLOR}">
		<!-- BEGIN item -->
			<li>
				<a title="Voir la fiche {item.POST_TITLE}" href="./?p={item.POST_ID}">
				{item.POST_TITLE}</a>

				<!-- IF U_MCP -->
					<a href="posting.php?mode=edit&p={item.POST_ID}"
						title="Modifier la fiche {item.POST_TITLE}" class="button button-icon-only">
						<i class="icon fa-pencil"></i>
					</a>
				<!-- ENDIF -->
			</li>
		<!-- END item -->
		</ul>
	</li>
	<!-- END menu -->
</ul>
