<!DOCTYPE html>
<html dir="ltr" lang="fr" class="gym_index">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex">

	<link rel="icon" type="image/jpg" href="{EXT_PATH}{T_THEME_PATH}/images/icon.jpg" />
	<title>Chavil'GYM</title>

	<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
	<!-- INCLUDECSS icons.css -->
	<!-- INCLUDECSS @Dominique92_Gym/stylesheet.css -->
	<!-- INCLUDEJS {T_JQUERY_LINK} -->
	<!-- INCLUDEJS @Dominique92_Gym/ajax.js -->
	{$STYLESHEETS}
</head>

<body>
	<div id="avertissement" style="background:yellow;font-weight:bold;color:red;font-size:3vw">
		CECI EST UN SITE DE TEST. Le VRAI site se trouve
		<a href="http://chaville.gym.free.fr/"><b>ICI</b></a>
	</div>

	<form action="{U_SEARCH}" method="get" id="search">
	<fieldset>
		<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
		<button class="button button-search" type="submit" title="{L_SEARCH}">
			<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
		</button>
		{S_SEARCH_HIDDEN_FIELDS}
	</fieldset>
	</form>

	<div>
		<a id="logo" href="https://www.sport-sante.fr/">
			<img alt="EPGV" src="{EXT_PATH}{T_THEME_PATH}/images/logo.png">
		</a>
		<a href=".">
			<div class="baniere">{SITENAME}</div>
		</a>
	</div>

	<div id="edit-user">
		<!-- IF S_USER_LOGGED_IN -->
			{S_USERNAME}&nbsp;
			<ul class="dropdown-contents" role="menu">
				<li>
					<a href="ucp.php?i=ucp_profile&mode=reg_details">
						<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
					</a>
				</li>
				<li>
					<a href="./#93">
						Mode d'emploi
					</a>
				</li>
				<li>
					<a href="{U_LOGIN_LOGOUT}">
						<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
					</a>
				</li>
			</ul>
		<!-- ELSE -->
			<a id="edit-page" href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="button button-icon-only">
				<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
			</a>
		<!-- ENDIF -->
	</div>

	<ul id="menu">
		<li style="background:{COULEUR_ACCUEIL}">
			<a href=".">Accueil</a>
		</li>
		<!-- BEGIN menu -->
			<!-- BEGIN item -->
				<li style="background:{item.COULEUR}">
					<a href="viewtopic.php?t={item.TOPIC_ID}">{item.NOM}</a>
				</li>
			<!-- END item -->
		<!-- END menu -->
		<li>
			<a title="Ajouter un item au menu" href="posting.php?mode=post&amp;f=2">
				<i class="icon fa-commenting-o fa-fw" aria-hidden="true"></i>
			</a>
		</li>
	</ul>

	<!-- IF .presentation -->
		<div id="presentation">
			<!-- BEGIN presentation -->
				<!-- BEGIN item -->
					<h3>
						{item.NOM}
						<!-- IF U_MCP -->
							<a href="posting.php?mode=edit&f=2&p={item.POST_ID}"
								title="Mofifier cet article" class="button button-icon-only">
								<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
							</a>
						<!-- ENDIF -->
					</h3>
					<div>{item.RESUME}</div>
				<!-- END item -->
			<!-- END presentation -->
		</div>
	<!-- ENDIF -->

	<!-- IF .actualites -->
		<div id="actualites">
			<h1>Actualité</h1>
			<!-- BEGIN actualites -->
				<div class="bandeau-vert">
					{actualites.DATE}: <a href="viewtopic.php?p={actualites.POST_ID}">{actualites.NOM}</a>
					<!-- IF U_MCP -->
						<a href="posting.php?mode=edit&f=2&p={actualites.POST_ID}"
							title="Mofifier cette actualité" class="button button-icon-only">
							<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
						</a>
				</div>
				<!-- ENDIF -->
				<div>{actualites.LIEU} à {actualites.HORAIRE_DEBUT}<!-- IF actualites.ANIMATEUR --> avec {actualites.ANIMATEUR}<!-- ENDIF --></div>
				{actualites.RESUME}
			<!-- END actualites -->
		</div>
	<!-- ENDIF -->

	<!-- IF .postrow -->
		<!-- BEGIN postrow -->
			<!-- IF postrow.S_FIRST_ROW -->
				<h2>{postrow.POST_SUBJECT}</h2>
				<!-- IF GET_T -->
					{postrow.MESSAGE}
				<!-- ENDIF -->
			<!-- ENDIF -->
		<!-- END postrow -->

		<ul id="sous-menu">
			<!-- BEGIN postrow -->
				<!-- IF not postrow.S_FIRST_ROW -->
					<li style="background:{postrow.COULEUR}">
						<a href="viewtopic.php?p={postrow.POST_ID}">{postrow.POST_SUBJECT}</a>
					</li>
				<!-- ENDIF -->
			<!-- END postrow -->
			<li>
				<a title="Ajouter un item au sous-menu" href="posting.php?mode=reply&amp;f=2&t={GET_T}">
					<i class="icon fa-commenting-o fa-fw" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	<!-- ENDIF -->





<div style="display:none">*********** *********** *********** *********** ***********

	<div id="WWWmenu"></div>
	<div id="titre"></div>
	<div id="sous-menu"></div>
	<div id="page"></div>
	</div>
</div>

	{$SCRIPTS}
	<script>
/*
		var menu = {
			0: { // Main menu
				1000000000: 'Accueil',
<!-- BEGIN menu -->
				1{menu.NORM_FIRST_ORDRE_GYM_MENU}{menu.NORM_TOPIC_ID}{menu.NORM_TOPIC_FIRST_POST_ID}: '{menu.TOPIC_TITLE}',
<!-- END menu -->
			},
<!-- BEGIN menu --><!-- IF menu.COUNT > 1 -->
			{menu.TOPIC_FIRST_POST_ID}: { // {menu.TOPIC_TITLE} menu
<!-- BEGIN sous_menu -->
				1{sous_menu.NORM_GYM_ORDRE_MENU}{menu.NORM_TOPIC_ID}{sous_menu.NORM_POST_ID}: '{sous_menu.POST_SUBJECT}',
<!-- END sous_menu -->
			},
<!-- ENDIF --><!-- END menu -->
		};

		$(window).on('load hashchange', null, menu, refreshMenu);
		const moderateurLogged = <!-- IF U_MCP -->true<!-- ELSE -->false<!-- ENDIF -->;
*/
	</script>
</body>
</html>
