<!-- INCLUDE header.html -->

<ul class="menu">
	<!-- BEGIN topic -->
	<!-- IF topic.FIRST_GYM_MENU == 'on' -->
	<li style="background:{topic.COULEUR}">
		<a href="viewtopic.php?t={topic.TOPIC_ID}" title = "Voir la fiche {topic.TOPIC_TITLE}">
			{topic.TOPIC_TITLE}
		</a>

		<!-- IF topic.COUNT > 1 -->
		<ul style="background:{topic.COULEUR}" class="submenu">
			<!-- BEGIN post -->
			<!-- IF post.GYM_MENU == 'on' and post.TOPIC_FIRST_POST_ID != post.POST_ID -->
				<li>
				<a title = "Voir la fiche {post.POST_SUBJECT}" href="viewtopic.php?p={post.POST_ID}">
					{post.POST_SUBJECT}
				</a>
				</li>
			<!-- ENDIF -->
			<!-- END post -->
		</ul>
		<!-- ENDIF -->
	</li>
	<!-- ENDIF -->
	<!-- END topic -->

	<li>
		<a title="Ajouter une rubrique au menu principal" href="posting.php?mode=post&f=2">
			<i class="icon fa-commenting-o" aria-hidden="true"></i>
		</a>
	</li>
</ul>

<div class="intro">
	<div class="slideshow">  
		<ul>
			<!-- //TODO automatiser à partir du répertoire -->
			<li><img src="slides/1.jpg" width="400" height="300" /></li>
			<li><img src="slides/2.jpg" width="400" height="300" /></li>
			<li><img src="slides/3.jpg" width="400" height="300" /></li>
			<li><img src="slides/4.jpg" width="400" height="300" /></li>
			<li><img src="slides/5.jpg" width="400" height="300" /></li>
			<li><img src="slides/6.jpg" width="400" height="300" /></li>
			<li><img src="slides/7.jpg" width="400" height="300" /></li>
		</ul>  
	</div>

	<!-- BEGIN topic -->
		<!-- BEGIN post -->
		<!-- IF post.ACCUEIL -->
			<p>
				<!-- IF U_MCP -->
				<a style="float:right"
					href="posting.php?mode=edit&f=2&p={post.POST_ID}"
					title="Modifier la page {post.POST_SUBJECT}">
					<i class="icon fa-pencil"></i>
				</a>
				<!-- ENDIF -->
				{post.ACCUEIL}
			</p>
		<!-- ENDIF -->
		<!-- END post -->
	<!-- END topic -->
</div>

<h1>
	Actualité
	<a title="Créer un nouvel évènement" href="posting.php?mode=reply&amp;f=2&t=7">
		<i class="icon fa-commenting-o"></i>
	</a>
</h1>

<!-- BEGIN topic -->
<!-- IF topic.NEXT_BEG_TIME and topic.GYM_EVENEMENTS == 'on' -->
<div class="evenement">
	<h2>
		{topic.DATE}: <a href="viewtopic.php?p={topic.POST_ID}">{topic.POST_SUBJECT}</a>
		<!-- IF U_MCP -->
		<a href="posting.php?mode=edit&f={topic.FORUM_ID}&p={topic.POST_ID}"
			title="Modifier l'évènement {topic.NOM}" class="button button-icon-only">
			<i class="icon fa-pencil"></i>
		</a>
		<!-- ENDIF -->
	</h2>

	<div>
		{topic.LIEU} à {topic.HORAIRE_DEBUT}
		<!-- IF topic.ANIMATEUR -->
			avec {topic.ANIMATEUR}
		<!-- ENDIF -->
		<p>{topic.RESUME}</p>
	</div>
</div>
<!-- ENDIF -->
<!-- END topic -->

<!-- INCLUDE footer.html -->