<!-- INCLUDE header.html -->

<!-- DIAPORAMA -->
<div class="page">
	<div class="slideshow">
		<ul>
			<!-- BEGIN slider -->
				<li><img src="{slider.FILE_NAME}" width="400" /></li>
			<!-- END slider -->
		</ul>
	</div>

<!-- ACTUALITES -->
<!-- BEGIN une -->
		<h2>
			<a href="./?p={une.POST_ID}">{une.POST_TITLE}</a>
			<!-- IF U_MCP -->
				<a href="posting.php?mode=edit&p={une.POST_ID}"
					title="Modifier ou supprimer l'article {une.POST_TITLE}"
					class="button button-icon-only">
					<i class="icon fa-pencil"></i>
				</a>

				<!-- IF une.MENU_LINE_NUMBER == 0 -->
					<a href="viewforum.php?f={une.FORUM_ID}"
						title="Modifier la liste des articles de la première page"
						class="button button-icon-only">
						<i class="icon fa-list"></i>
					</a>

					<a href="posting.php?mode=post&f={une.FORUM_ID}"
						title="Ajouter un article à la première page"
						class="button button-icon-only">
						<i class="icon fa-plus"></i>
					</a>
				<!-- ENDIF -->
			<!-- ENDIF -->
		</h2>

		<div>
			{une.LIEU}
			<!-- IF une.ANIMATEUR -->
				avec {une.ANIMATEUR}
			<!-- ENDIF -->

			<div>{une.MESSAGE}</div>
		</div>
<!-- END une -->

<!-- INCLUDE footer.html -->
