<ul id="sous-menu">
	<!-- BEGIN postrow -->
		<!-- IF postrow.POST_ID == postrow.TOPIC_FIRST_POST_ID and postrow.GYM_MENU == 'on' and (U_MCP or REQUEST_AUTH) -->
			<li>
				<a title="Ajouter un ballon au sous-menu" href="posting.php?mode=reply&amp;f={FORUM_ID}&t={TOPIC_ID}">
					<i class="icon fa-commenting-o fa-fw" aria-hidden="true"></i>
				</a>
			</li>
		<!-- ENDIF -->
		<!-- IF postrow.POST_ID != postrow.TOPIC_FIRST_POST_ID and postrow.GYM_MENU == 'on' -->
			<li style="background:{postrow.COULEUR}">
				<a href="viewtopic.php?p={postrow.POST_ID}">{postrow.POST_SUBJECT}</a>
			</li>
		<!-- ENDIF -->
	<!-- END postrow -->
</ul>