<!-- Page Activités et Salles -->
<ul class="menu submenu">
	<!-- BEGIN topic -->
	<!-- IF topic.FIRST_GYM_MENU and topic.TOPIC_ID == REQUEST_T and topic.COUNT > 1 -->
		<!-- BEGIN post -->
			<!-- IF post.GYM_MENU and post.TOPIC_FIRST_POST_ID != post.POST_ID -->
			<li>
			<div style="background:{post.COULEUR}">
				<a title = "Voir la fiche {post.POST_SUBJECT}" href="viewtopic.php?p={post.POST_ID}">
					{post.POST_SUBJECT}
				</a>
			</div>
			</li>
		<!-- ENDIF -->
		<!-- END post -->
	<!-- ENDIF -->
	<!-- END topic -->
</ul>