<!-- BEGIN postrow -->
	<!-- IF (TOPIC_ID != 19 and postrow.POST_ID == postrow.TOPIC_FIRST_POST_ID and postrow.GYM_MENU == 'on') or TOPIC_ID == 19 -->
		<h2>
			<a href="viewtopic.php?p={postrow.POST_ID}">{postrow.POST_SUBJECT}</a>
			<!-- IF (U_MCP or REQUEST_MOD) -->
				<a href="posting.php?mode=edit&f=2&p={postrow.POST_ID}"
					title="Modifier la page {postrow.POST_SUBJECT}" class="button button-icon-only">
					<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
				</a>
			<!-- ENDIF -->
		</h2>
		<!-- IF not REQUEST_P -->
			{postrow.MESSAGE}
		<!-- ELSE IF postrow.RESUME -->
			{postrow.RESUME}
			. . . <a href="viewtopic.php?p={postrow.POST_ID}">plus d'infos</a>
		<!-- ENDIF -->

		<!-- INCLUDE submenu.html -->
	<!-- ENDIF -->
<!-- END postrow -->

<!-- BEGIN postrow -->
	<!-- IF postrow.POST_ID == REQUEST_P -->
		<!-- IF postrow.GYM_ACTIVITE != 'off' -->
			(INCLUDE viewtopic.php?p={postrow.GYM_ACTIVITE}&template=topic)
		<!-- ENDIF -->
		<h2>
			<a href="viewtopic.php?p={postrow.POST_ID}">{postrow.POST_SUBJECT}</a>
			<!-- IF (U_MCP or REQUEST_MOD) -->
				<a href="posting.php?mode=edit&f=2&p={postrow.POST_ID}"
					title="Modifier la page {postrow.POST_SUBJECT}" class="button button-icon-only">
					<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
				</a>
			<!-- ENDIF -->
		</h2>

		<!-- IF not REQUEST_TEMPLATE -->
			{postrow.MESSAGE}
		<!-- ELSE IF postrow.RESUME -->
			{postrow.RESUME}
			. . . <a href="viewtopic.php?p={postrow.POST_ID}">plus d'infos</a>
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- END postrow -->