<!-- INCLUDE header.html -->

<div class="page">
	<!-- BEGIN postrow -->
		<!-- IF postrow.POST_ID == REQUEST_P or (not REQUEST_P and postrow.POST_ID == postrow.TOPIC_FIRST_POST_ID) -->

			<!-- IF postrow.GYM_ACTIVITE > 0 -->
				<meta http-equiv="refresh" content="0; URL=?p={postrow.GYM_ACTIVITE}" />
			<!-- ENDIF -->

			<h1>
				{postrow.POST_SUBJECT}
				<!-- IF U_MCP -->
					<a href="posting.php?mode=edit&f=2&p={postrow.POST_ID}"
						title="Modifier la page {postrow.POST_SUBJECT}" class="button button-icon-only">
						<i class="icon fa-pencil"></i>
					</a>
				<!-- ENDIF -->
			</h1>
			<div>{postrow.MESSAGE}</div>

			<!-- IF postrow.GYM_CERT === 'on' -->
				<div>
					Cours certifié
					<a target="_blank" href="https://www.oncorif.fr/prescriforme-lactivite-physique-sur-ordonnance-en-ile-de-france/">
						Prescri’forme (CERT)
					</a>
				</div>
			<!-- ENDIF -->

			<script>
				<!-- IF postrow.POST_ID == postrow.TOPIC_FIRST_POST_ID -->
					var select = 'gym_menu=%27on%27';
				<!-- ELSE -->
					var select = 'post_id={postrow.POST_ID}';
				<!-- ENDIF -->
			</script>

		<!-- ENDIF -->
	<!-- END postrow -->

	<!-- Carte -->
	<!-- IF GEO_JSON -->
		<!-- INCLUDECSS {T_ASSETS_PATH}/MyOl/ol/ol.css -->
		<!-- INCLUDEJS {T_ASSETS_PATH}/MyOl/ol/ol.js -->
		<!-- INCLUDECSS {T_ASSETS_PATH}/MyOl/myol.css -->
		<!-- INCLUDEJS {T_ASSETS_PATH}/MyOl/myol.js -->
		<!-- INCLUDEJS @Dominique92_Gym/viewtopic.js -->
	<!-- ENDIF -->
</div>

<!-- INCLUDE footer.html -->