<!-- INCLUDE header.html -->

<div class="page">
	<!-- SUJET -->
	<!-- BEGIN postrow -->
		<!-- IF postrow.POST_ID == REQUEST_P or (not REQUEST_P and postrow.POST_ID == postrow.TOPIC_FIRST_POST_ID) -->
			<h1>
				{postrow.POST_SUBJECT}
				<!-- IF U_MCP -->
					<a href="posting.php?mode=edit&f=2&p={postrow.POST_ID}"
						title="Modifier la page {postrow.POST_SUBJECT}" class="button button-icon-only">
						<i class="icon fa-pencil"></i>
					</a>
				<!-- ENDIF -->
			</h1>
			<div>{postrow.MESSAGE}</div>

<!-- //TODO DELETE FILE -->
<!-- IF postrow.GYM_CERT -->
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	<div>
		Cours certifié
		<a target="_blank" href="https://www.oncorif.fr/prescriforme-lactivite-physique-sur-ordonnance-en-ile-de-france/">
			Prescri’forme (CERT)
		</a>
	</div>
<!-- ENDIF -->

		<!-- ENDIF -->
	<!-- END postrow -->

	<!-- Carte -->
	<!-- IF GEOJSON -->
		<!-- INCLUDECSS {T_ASSETS_PATH}/MyOl/ol/ol.css -->
		<!-- INCLUDEJS {T_ASSETS_PATH}/MyOl/ol/ol.js -->
		<!-- INCLUDECSS {T_ASSETS_PATH}/MyOl/myol.css -->
		<!-- INCLUDEJS {T_ASSETS_PATH}/MyOl/myol.js -->
		<!-- INCLUDEJS @Dominique92_Gym/viewtopic.js -->
		<div id="map"></div>
		<input type="hidden" id="cadre-json" value='{GEOJSON}' />
	<!-- ENDIF -->

	<!-- ANIMATRICES //TODO DEPLACER (pour page equipe) OU DELETE ??? -->
	<!-- BEGIN topic -->
	<!-- BEGIN post -->
		<!-- IF REQUEST_T == post.TOPIC_ID and post.PRESENTATION and not REQUEST_P -->
			<div class="animatrice">
				<h2>
					<a href="viewtopic.php?p={post.POST_ID}">{post.POST_SUBJECT}</a>
					<!-- IF U_MCP -->
						<a href="posting.php?mode=edit&f=2&p={post.POST_ID}"
							title="Modifier la page {post.POST_SUBJECT}" class="button button-icon-only">
							<i class="icon fa-pencil"></i>
						</a>
					<!-- ENDIF -->
				</h2>

				{post.PRESENTATION}

				<br/><a href="viewtopic.php?p={post.POST_ID}">Plus d'infos . . .</a>
				<br style="clear:both;height:0" />
			</div>
		<!-- ENDIF -->
	<!-- END post -->
	<!-- END topic -->
</div>

<!-- INCLUDE footer.html -->