<!-- INCLUDE header.html -->

<!-- Fiche séance : rappel de l'activité -->
<!-- BEGIN activite_concernee -->
	<ul>
		<li style="background:#9afbbc">
			<a href="viewtopic.php?p={activite_concernee.POST_ID}">
				{activite_concernee.POST_SUBJECT}
			</a>
		</li>
		<!-- IF U_MCP -->
			<a href="posting.php?mode=edit&f=2&p={activite_concernee.POST_ID}"
				title="Mofifier la page {activite_concernee.POST_SUBJECT}" class="button button-icon-only">
				<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
			</a>
		<!-- ENDIF -->
	</ul>
	{activite_concernee.MESSAGE}
<!-- END activite_concernee -->

<!-- Rappel de la rubrique -->
<!-- BEGIN postrow -->
	<!-- IF postrow.POST_ID == postrow.TOPIC_FIRST_POST_ID and postrow.GYM_MENU == 'on' -->
		<h2>
			{postrow.POST_SUBJECT}
			<!-- IF U_MCP -->
				<a href="posting.php?mode=edit&f=2&p={postrow.POST_ID}"
					title="Mofifier la page {postrow.POST_SUBJECT}" class="button button-icon-only">
					<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
				</a>
			<!-- ENDIF -->
		</h2>
		<!-- IF not REQUEST_P -->
			{postrow.MESSAGE}
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- END postrow -->

<ul id="sous-menu">
	<!-- BEGIN postrow -->
		<!-- IF postrow.POST_ID == postrow.TOPIC_FIRST_POST_ID and postrow.GYM_MENU == 'on' and U_MCP -->
			<li>
				<a title="Ajouter un ballon au sous-menu" href="posting.php?mode=reply&amp;f={FORUM_ID}&t={TOPIC_ID}">
					<i class="icon fa-commenting-o fa-fw" aria-hidden="true"></i>
				</a>
			</li>
		<!-- ENDIF -->
		<!-- IF postrow.POST_ID != postrow.TOPIC_FIRST_POST_ID and postrow.GYM_MENU == 'on' -->
			<li style="background:{postrow.COULEUR}">
				<a href="viewtopic.php?p={postrow.POST_ID}">{postrow.POST_SUBJECT}</a>
			</li>
		<!-- ENDIF -->
	<!-- END postrow -->
</ul>

<!-- BEGIN postrow -->
	<!-- IF postrow.POST_ID == REQUEST_P -->
		<h2>
			{postrow.POST_SUBJECT}
			<!-- IF U_MCP -->
				<a href="posting.php?mode=edit&f=2&p={postrow.POST_ID}"
					title="Mofifier la page {postrow.POST_SUBJECT}" class="button button-icon-only">
					<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
				</a>
			<!-- ENDIF -->
		</h2>
		{postrow.MESSAGE}
	<!-- ENDIF -->
<!-- END postrow -->

<!-- INCLUDE footer.html -->