<!-- IF U_MCP -->
	<a href="posting.php?mode=reply&f=2&t=7" title="Ajouter une actualité"
		class="button button-icon-only">
		<i class="icon fa-commenting-o fa-fw" aria-hidden="true"></i>
	</a>
<!-- ENDIF -->

<div id="actualites">
	<!-- BEGIN actualites -->
		<h2>
			<a onclick="window.location.hash={actualites.POST_ID}">
				{actualites.DATE} {actualites.HORAIRE_DEBUT}, {actualites.LIEU}
			</a>
		</h2>
		<div class="include">viewtopic.php?template=resume&p={actualites.POST_ID}</div>
	<!-- END actualites -->
</div>
