<!-- BEGIN liste -->
	<div class="calendrier">
	<table>
		<tr>
			<!-- BEGIN item -->
			<td id="tds_{liste.POST_ID}_{item.NO}"
				<!-- IF item.GYM_IN_CALENDRIER != '' -->class="selected"<!-- ENDIF -->>
				<span id="s_{liste.POST_ID}_{item.NO}"></span>
			<td>
			<!-- END item -->
		</tr>
		<tr><td colspan="8">Les {liste.GYM_JOUR_LITERAL}s</td></tr>
		<tr id="mois_{liste.POST_ID}_8"><td>Septembre</td></tr>
		<tr id="mois_{liste.POST_ID}_9"><td>Octobre</td></tr>
		<tr id="mois_{liste.POST_ID}_10"><td>Novembre</td></tr>
		<tr id="mois_{liste.POST_ID}_11"><td>Décembre</td></tr>
		<tr id="mois_{liste.POST_ID}_0"><td>Janvier</td></tr>
		<tr id="mois_{liste.POST_ID}_1"><td>Février</td></tr>
		<tr id="mois_{liste.POST_ID}_2"><td>Mars</td></tr>
		<tr id="mois_{liste.POST_ID}_3"><td>Avril</td></tr>
		<tr id="mois_{liste.POST_ID}_4"><td>Mai</td></tr>
		<tr id="mois_{liste.POST_ID}_5"><td>Juin</td></tr>
	</table>
	</div>
<!-- END liste -->

<script>
	<!-- BEGIN liste -->
		displayCalendar({liste.POST_ID},{liste.GYM_JOUR});
	<!-- END liste -->
</script>
