<div id="horaires">
<!-- BEGIN horaires -->
	<div id="{horaires.JOUR}">
		{horaires.JOUR}
		<table class="horaires horaires_{horaires.JOUR}">
			<!-- BEGIN seance -->
			<tr>
				<td>
					<a onclick="window.location.hash={seance.POST_ID}">
						{seance.NOM}
					</a>
					<!-- IF S_USER_LOGGED_IN -->
						<a href="/posting.php?mode=edit&f=2&p={seance.POST_ID}"
							title="Mofifier cette séance" class="button button-icon-only">
							<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
						</a>
					<!-- ENDIF -->
				</td>

				<td>{seance.HORAIRE_DEBUT} - {seance.HORAIRE_FIN}</td>

				<!-- IF not GET_LIEU -->
					<td>
						<a onclick="window.location.hash={seance.GYM_LIEU}">
							{seance.LIEU}
						</a>
					</td>
				<!-- ENDIF -->

				<!-- IF not GET_ANIMATEUR -->
					<td>
						<a onclick="window.location.hash={seance.GYM_ANIMATEUR}">
							{seance.ANIMATEUR}
						</a>
					</td>
				<!-- ENDIF -->
			</tr>
			<!-- END seance -->
		</table>
	</div>
<!-- END horaires -->
</div>
