<h3>Horaires</h3>
<div id="horaires">
<!-- BEGIN horaires -->
	<div id="{horaires.JOUR}">
		{horaires.JOUR}
		<table class="horaires horaires_{horaires.JOUR}">
			<!-- BEGIN activite -->
			<tr>
				<td>
					<a onclick="displayAjax('viewtopic.php?template=viewtopic&p={activite.POST_ID}')">
						{activite.ACTIVITE}
					</a>
					<!-- IF postrow.U_EDIT -->
						<a href="/posting.php?mode=edit&f=2&p={activite.POST_ID}" title="{L_EDIT_POST}" class="button button-icon-only">
							<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
						</a>
					<!-- ENDIF -->
				</td>
				<td>{activite.HORAIRES}</td>
				<td>
					<a onclick="displayAjax('viewtopic.php?template=viewtopic&p={activite.GYM_LIEU}')">
						{activite.LIEU}
					</a>
				</td>
				<td>
					<a onclick="displayAjax('viewtopic.php?template=viewtopic&p={activite.GYM_ANIMATEUR}')">
						{activite.ANIMATEUR}
					</a>
				</td>
			</tr>
			<!-- END activite -->
		</table>
	</div>
<!-- END horaires -->
</div>
