<!DOCTYPE html>
<html dir="ltr" lang="fr" class="gym_index">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex">

	<link rel="icon" type="image/jpg" href="ext/Dominique92/Gym/styles/all/theme/images/logo.jpg" />
	<title>Chavil'GYM</title>
</head>

<body>
	<div id="avertissement" style="background: yellow;font-weight:bold;color:red;font-size:20px">
		CECI EST UN SITE DE TEST. Le VRAI site se trouve
		<a href="http://chaville.gym.free.fr/"><b>ICI</b></a>
	</div>

	<div id="bandeau">
		<a id="logo" href="https://www.sport-sante.fr/">
			<img alt="EPGV" src="ext/Dominique92/Gym/styles/all/theme/images/logo.jpg">
		</a>
		<a href=".">
			<div class="baniere">{SITENAME}</div>
		</a>
	</div>
	<br id="libre" />

	<!-- INCLUDECSS {T_ASSETS_PATH}/css/font-awesome.min.css -->
	<!-- INCLUDECSS icons.css -->
	<!-- INCLUDECSS @Dominique92_Gym/stylesheet.css -->
	<!-- INCLUDECSS @Dominique92_Gym/assets/ol.css -->
	<!-- INCLUDEJS @Dominique92_Gym/assets/ol.js -->
	<!-- INCLUDEJS {T_JQUERY_LINK} -->
	<!-- INCLUDEJS @Dominique92_Gym/ajax.js -->
	{$STYLESHEETS}
	{$SCRIPTS}

	<script>
		const menu = {
			0: { // Main menu
<!-- BEGIN menu -->
				{menu.TOPIC_FIRST_POST_ID}: '{menu.TOPIC_TITLE}',
<!-- END menu -->
			},
<!-- BEGIN menu --><!-- IF menu.COUNT > 1 -->
			{menu.TOPIC_FIRST_POST_ID}: { // {menu.TOPIC_TITLE} menu
<!-- BEGIN sous_menu -->
				{sous_menu.POST_ID}: '{sous_menu.POST_SUBJECT}',
<!-- END sous_menu -->
			},
<!-- ENDIF --><!-- END menu -->
		};

		$('#bandeau').append(displayMenu(menu[0]));
		$(window).on('load hashchange', initMenu);
	</script>
</body>
</html>
