<p>
	Lon <input id="editable-lon" type="text" onchange="editable.edit(this,0,4326)" size="10" maxlength="12"/>
	Lat <input id="editable-lat" type="text" onchange="editable.edit(this,1,4326)" size="10" maxlength="12"/>
</p>
<!-- IF EPSG21781 -->
	<p id="editable-xy">Suisse
		X <input id="editable-x" type="text" onchange="editable.edit(this,0,21781)" size="7" maxlength="12"/>
		Y <input id="editable-y" type="text" onchange="editable.edit(this,1,21781)" size="7" maxlength="12"/>
	</p>
<!-- ENDIF -->
-->