<div id="overlay-selector">
<hr />
<label for="chm-features">chemineur</label>
<input type="checkbox" name="chm-features" id="chm-features" checked="checked" />
<div id="chm-features-status" class="overlay-status"></div>
<ul>
	<!-- BEGIN geo_categories -->
		<!-- IF geo_categories.GEO -->
		<li>
			<input type="checkbox" name="chm-features" id="chm-features-{geo_categories.CATEGORY}"
				value="{geo_categories.CATEGORY}" checked="checked" />
			<label for="chm-features-{geo_categories.CATEGORY}">{geo_categories.CATEGORY_NAME}</label>
		</li>
		<!-- ENDIF -->
	<!-- END geo_categories -->
</ul>

<hr />
<label for="wri-features">refuges.info</label>
<input type="checkbox" name="wri-features" id="wri-features" />
<div id="wri-features-status" class="overlay-status"></div>
<ul>
	<li>
		<input type="checkbox" name="wri-features" id="wri-features-7" value="7" />
		<label for="wri-features-7">cabane non gardée</label>
	</li><li>
		<input type="checkbox" name="wri-features" id="wri-features-10" value="10" />
		<label for="wri-features-10">refuge gardé</label>
	</li><li>
		<input type="checkbox" name="wri-features" id="wri-features-9" value="9" />
		<label for="wri-features-9">gîte d'étape</label>
	</li><li>
		<input type="checkbox" name="wri-features" id="wri-features-23" value="23" />
		<label for="wri-features-23">point d'eau</label>
	</li><li>
		<input type="checkbox" name="wri-features" id="wri-features-6" value="6" />
		<label for="wri-features-6">sommet</label>
	</li><li>
		<input type="checkbox" name="wri-features" id="wri-features-3" value="3" />
		<label for="wri-features-3">passage délicat</label>
	</li><li>
		<input type="checkbox" name="wri-features" id="wri-features-16" value="16" />
		<label for="wri-features-16">lac</label>
	</li><li>
		<input type="checkbox" name="wri-features" id="wri-features-28" value="28" />
		<label for="wri-features-28">bâtiment en montagne</label>
	</li>
</ul>

<hr />
<label for="osm-features">OSM</label>
<input type="checkbox" name="osm-features"  id="osm-features" />
<div id="osm-features-status" class="overlay-status"></div>
<ul>
	<li>
		<input type="checkbox" name="osm-features" id="City Hall" value='["tourism"~"hotel|guest_house|chalet|hostel|apartment"]' />
		<label for="City Hall">Hôtel</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Residence" value='["tourism"="alpine_hut"]' />
		<label for="Residence">Refuge gardé</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Lodge" value='["building"="cabin"]' />
		<label for="Lodge">Cabane non gardée</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Fishing Hot Spot Facility" value='["amenity"="shelter"]["shelter_type"="basic_hut"]' />
		<label for="Fishing Hot Spot Facility">Abri</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Campground" value='["tourism"="camp_site"]' />
		<label for="Campground">Camping</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Drinking Water" value='["amenity"="drinking_water|watering_place|fountain"]+["waterway"="water_point"]+["natural"="spring"]+["man_made"="water_well"]' />
		<label for="Drinking Water">Point d'eau</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Ground Transportation" value='["highway"="bus_stop"]' />
		<label for="Ground Transportation">Bus</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Parking Area" value='["amenity"="parking"]["access"!="private"]' />
		<label for="Parking Area">Parking</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Restaurant" value='["amenity"="restaurant"]' />
		<label for="Restaurant">Restaurants</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Shopping Center" value='["shop"~"supermarket|convenience"]' />
		<label for="Shopping Center">Alimentation</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Restroom" value='["amenity"="toilets"]' />
		<label for="Restroom">WC</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Oil Field" value='["internet_access"~"yes|public|wlan|wired|terminal|service|free|fee|type|access"]' />
		<label for="Oil Field">Café internet</label>
	</li><li>
		<input type="checkbox" name="osm-features" id="Telephone" value='["amenity"="telephone"]' />
		<label for="Telephone">Cabines téléphoniques</label>
	</li>
</ul>

<hr />
<label for="c2c-features">camptocamp.org</label>
<input type="checkbox" name="c2c-features" id="c2c-features" />
<div id="c2c-features-status" class="overlay-status"></div>

<hr/>
<label for="prc-features">pyrenees-refuges.com</label>
<input type="checkbox" name="prc-features" />
<div id="prc-features-status" class="overlay-status"></div>
<ul>
	<li><input type="checkbox" name="prc-features" value="Lodge" />cabane ou refuge</li>
	<li><input type="checkbox" name="prc-features" value="Tunnel" />abri, orri</li>
	<li><input type="checkbox" name="prc-features" value="Crossing" />cabane fermée</li>
</ul>

<hr />
<label for="alp-features">alpages.info</label>
<input type="checkbox" id="alp-features" name="alp-features" />
<div id="alp-features-status" class="overlay-status"></div>
<ul>
	<li>
		<input type="checkbox" id="alp-features-4" name="alp-features" value="4" />
		<label for="alp-features-4">Cabane</label>
	</li><li>
		<input type="checkbox" id="alp-features-5" name="alp-features" value="5" />
		<label for="alp-features-5">Point d'eau</label>
	</li><li>
		<input type="checkbox" id="alp-features-6" name="alp-features" value="6" />
		<label for="alp-features-6">Réseau</label>
	</li>
</ul>
</div>
