<!-- IF S_REGISTERED_USER -->
	<li id="username_logged_in" class="rightside <!-- IF CURRENT_USER_AVATAR --> no-bulletin<!-- ENDIF -->" data-skip-responsive="true">
		<div class="header-profile dropdown-container">
			<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --> {CURRENT_USERNAME_SIMPLE}</a>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents" role="menu">
					<!-- IF U_RESTORE_PERMISSIONS -->
						<li>
							<a href="{U_RESTORE_PERMISSIONS}">
								<i class="icon fa-refresh fa-fw" aria-hidden="true"></i><span>{L_RESTORE_PERMISSIONS}</span>
							</a>
						</li>
					<!-- ENDIF -->

					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
							<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
						</a>
					</li>
					<!-- IF U_USER_PROFILE -->
						<li>
							<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">
								<i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{L_READ_PROFILE}</span>
							</a>
						</li>
					<!-- ENDIF -->

					<!-- IF S_DISPLAY_PM -->
						<li class="rightside" data-skip-responsive="true">
							<a href="{U_PRIVATEMSGS}" role="menuitem">
								<i class="icon fa-inbox fa-fw" aria-hidden="true"></i><span>{L_PRIVATE_MESSAGES} </span><strong class="badge<!-- IF not PRIVATE_MESSAGE_COUNT --> hidden<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong>
							</a>
						</li>
					<!-- ENDIF -->

					<!-- IF S_NOTIFICATIONS_DISPLAY -->
						<li class="dropdown-container dropdown-{S_CONTENT_FLOW_END} rightside" data-skip-responsive="true">
							<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger">
								<i class="icon fa-bell fa-fw" aria-hidden="true"></i><span>{L_NOTIFICATIONS} </span><strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong>
							</a>
						</li>
					<!-- ENDIF -->

					<li class="separator"></li>
					<li>
						<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
							<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
<!-- ELSE IF not S_IS_BOT -->
	<li class="rightside"  data-skip-responsive="true">
		<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
			<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
		</a>
	</li>
	<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
		<li class="rightside" data-skip-responsive="true">
			<a href="{U_REGISTER}" role="menuitem">
				<i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i><span>{L_REGISTER}</span>
			</a>
		</li>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF U_ACP -->
	<li data-last-responsive="true" style="float:right">
		<a href="{U_ACP}" title="{L_ACP}" role="menuitem">
			<i class="icon fa-cogs fa-fw" aria-hidden="true"></i><span>{L_ACP_SHORT}</span>
		</a>
	</li>
<!-- ENDIF -->
