<table class="postit" id="commentaire">
	<!-- IF postrow.MESSAGE or postrow.POST_SUBJECT -->
		<tr><td class="hg"></td><td class="hm"></td><td class="hd"></td></tr>

		<tr><td class="mg"></td><td class="mm">
			<!-- IF not postrow.RE and not postrow.S_FIRST_ROW -->
				<p class="titre">{postrow.POST_SUBJECT}</p>
			<!-- ENDIF -->
			<p>{postrow.MESSAGE}</p>
		</td><td class="md"></td></tr>

		<tr><td class="bg"></td><td class="bm">
			<span>
				&copy; {postrow.POST_AUTHOR} / {postrow.POST_DATE}
			</span>
		</td><td class="bd"></td></tr>
	<!-- ENDIF -->

	<!-- IF not S_IS_BOT and postrow.POST_ID < 1000000 -->
		<tr><td colspan="2">
			<div class="postbody" style="width:203px">
				<ul class="post-buttons">
					<!-- IF postrow.U_EDIT -->
						<li>
							<a href="{postrow.U_EDIT}" title="{L_EDIT_POST}" class="button button-icon-only">
								<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_EDIT}</span>
							</a>
						</li>
					<!-- ENDIF -->
					<!-- IF postrow.U_DELETE and postrow.POST_ID != TOPIC_FIRST_POST_ID -->
						<li>
							<a href="{postrow.U_DELETE}" title="{L_DELETE_POST}" class="button button-icon-only">
								<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_DELETE}</span>
							</a>
						</li>
					<!-- ENDIF -->
					<!-- IF postrow.U_QUOTE and S_USER_LOGGED_IN -->
						<li>
							<a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}" class="button button-icon-only">
								<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_QUOTE}</span>
							</a>
						</li>
					<!-- ENDIF -->
				</ul>
			</div>
		</td></tr>
	<!-- ENDIF -->
</table>

<!-- BEGIN _file -->
	<table class= "photo" title="{_file.COMMENT}">
		<tr><td class="hg"></td><td class="hm">
			<p>
				<!-- IF not (_file.DATE matches '/1970/') -->
					{_file.DATE}
				<!-- ENDIF -->
				<!-- IF _file.AUTEUR -->
					&copy; {_file.AUTEUR}
				<!-- ENDIF -->
			</p>
		</td><td class="hd"></td></tr>
		<tr><td class="mg"></td><td class="mm">
			<!-- IF _file.ATTACH_ID < 1000000 -->
				<a href="download/file.php?id={_file.ATTACH_ID}" title="{_file.COMMENT}">
					<script>document.write('<img src="download/file.php?id={_file.ATTACH_ID}&s='+Math.round(Math.max(window.innerWidth/2.5,(window.innerWidth-100)*375/(500+{_file.TEXT_SIZE})))+'" />')</script>
				</a>
			<!-- ELSE -->
				<img src="{_file.REAL_FILENAME}" />
			<!-- ENDIF -->
		</td><td class="md"></td></tr>
		<tr><td class="bg"></td><td class="bm">
			<p>{_file.EXIF}</p>
		</td><td class="bd">
		</td></tr>
	</table>
<!-- END _file -->
