<!DOCTYPE html>
<html dir="ltr" lang="fr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex">

	<link rel="icon" type="image/jpg" href="./ext/Dominique92/Gym/styles/gym/theme/images/logo.jpg" />
	<title>Chavil'GYM</title>
	<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
	<style>
		<!-- INCLUDE @Dominique92_Gym/index.css -->
	</style>
</head>

<body>
	<div id="avertissement">
		CECI EST UN SITE DE TEST. Le VRAI site se trouve
		<a href="http://chaville.gym.free.fr/"><b>ICI</b></a>
	</div>

	<div id="bandeau">
		<a id="logo" href="https://www.sport-sante.fr/">
			<img alt="EPGV" src="./ext/Dominique92/Gym/styles/gym/theme/images/logo.jpg">
		</a>
		<a href=".">
			<div class="baniere">Chavil' Gym Volontaire</div>
		</a>
	</div>
	<br id="libre" />

	<script src="{T_JQUERY_LINK}"></script>
	<script src="{T_ASSETS_PATH}/jquery-ui/jquery-ui.min.js"></script>
	<script>
		<!-- INCLUDE @Dominique92_Gym/index.js -->
	</script>
</body>
</html>
