/* HORAIRES */
#horaires {
	font-size: 1.4em;
	font-family: Times New Roman;
	text-align: left;
}
#horaires > div:first-line {
	text-indent: 3em;
	font-size: 1.2em;
	text-transform: capitalize;
}
#horaires table {
	width: inherit;
	border-style: solid;
	border-width: 4px;
	border-collapse: collapse;
}
#horaires td {
	border:1px dashed black;
	padding: 0.2em;
}
#horaires .edit {
	float: right;
}
#horaires a {
	color: inherit;
	font-size: 14px;
	font-weight: bold;
}

#lundi {
	color: #697c46;
}
#lundi table {
	border-color:#99a682;
	border-right-color: #3f4c28;
	border-bottom-color: #3f4c28;
	background-color:#daedb7;
}

#mardi {
	margin-left: 5%;
	color: #803d70;
}
#mardi table {
	border-color:#a87c9e;
	border-right-color: #4e2244;
	border-bottom-color: #4e2244;
	background-color:#f1aee1;
}

#mercredi {
	margin-left: 10%;
	color: #525d7c;
}
#mercredi table {
	border-color:#8a92a6;
	border-right-color: #30384c;
	border-bottom-color: #30384c;
	background-color:#c3ceed;
}

#jeudi {
	margin-left: 15%;
	color: #508e4d;
}
#jeudi table {
	border-color:#89b287;
	border-right-color: #2f582d;
	border-bottom-color: #2f582d;
	background-color:#c1ffbe;
}

#vendredi {
	margin-left: 20%;
	color: #7e5856;
}
#vendredi table {
	border-color:#a88e8d;
	border-right-color: #4e3433;
	border-bottom-color: #4e3433;
	background-color:#efc9c7;
}

#samedi {
	margin-left: 25%;
	color: #6c3f81;
}
#samedi table {
	border-color:#9b7ea9;
	border-right-color: #41244f;
	border-bottom-color: #41244f;
	background-color:#ddb0f2;
}

#dimanche {
	margin-left: 30%;
	color: #468165;
}
#dimanche table {
	border-color:#82a997;
	border-right-color: #284f3d;
	border-bottom-color: #284f3d;
	background-color:#b7f2d6;
}
@media screen and (max-width: 600px) {
	#lundi,
	#mardi,
	#mercredi,
	#jeudi,
	#vendredi,
	#samedi,
	#dimanche {
		margin-left: 0;
		margin-right: 0;
	}
	#horaires table {
		width: 100%;
	}
}
