<div id="additional-selector" style="display:none">
	<div class="selector">
		Chemineur
		<input type="checkbox" name="select-chemineur" value="all" />
		<p id="select-chemineur-status"></p>
		<ul>
			<li><input type="checkbox" name="select-chemineur" value="3" />Refuge</li>
			<li><input type="checkbox" name="select-chemineur" value="8" />Abri</li>
			<li><input type="checkbox" name="select-chemineur" value="16" />Inutilisable</li>
			<li><input type="checkbox" name="select-chemineur" value="20" />Alimentation</li>
			<li><input type="checkbox" name="select-chemineur" value="23" />Montagne</li>
			<li><input type="checkbox" name="select-chemineur" value="30" />Ferroviaire</li>
			<li><input type="checkbox" name="select-chemineur" value="40" />Transport</li>
			<li><input type="checkbox" name="select-chemineur" value="44" />Tourisme</li>
			<li><input type="checkbox" name="select-chemineur" value="58" />Naval</li>
			<li><input type="checkbox" name="select-chemineur" value="64" />Trace</li>
		</ul>
	</div>

	<div class="selector">
		Refuges.info
		<input type="checkbox" name="select-wri" value="all" />
		<p id="select-wri-status"></p>
		<ul>
			<li><input type="checkbox" name="select-wri" value="7" />Cabane non gardée</li>
			<li><input type="checkbox" name="select-wri" value="10" />Refuge gardé</li>
			<li><input type="checkbox" name="select-wri" value="9" />Gîte d'étape</li>
			<li><input type="checkbox" name="select-wri" value="23" />Point d'eau</li>
			<li><input type="checkbox" name="select-wri" value="6" />Sommet</li>
			<li><input type="checkbox" name="select-wri" value="3" />Passage délicat</li>
			<li><input type="checkbox" name="select-wri" value="28" />Bâtiment en montagne</li>
		</ul>
	</div>

	<div class="selector">
		Overpass (OSM services)
		<input type="checkbox" name="select-osm" value="all" />
		<p id="select-osm-status"></p>
		<ul>
			<li><input type="checkbox" name="select-osm" value='["tourism"~"hotel|guest_house|chalet|hostel|apartment"]' />Hôtel</li>
			<li><input type="checkbox" name="select-osm" value='["tourism"="alpine_hut"]' />Refuge gardé</li>
			<li><input type="checkbox" name="select-osm" value='["building"="cabin"]' />Cabane non gardée</li>
			<li><input type="checkbox" name="select-osm" value='["amenity"="shelter"]["shelter_type"="basic_hut"]' />Abri</li>
			<li><input type="checkbox" name="select-osm" value='["tourism"="camp_site"]' />Camping</li>
			<li><input type="checkbox" name="select-osm" value='["amenity"="drinking_water|watering_place|fountain"]+["waterway"="water_point"]+["natural"="spring"]+["man_made"="water_well"]' />Point d'eau</li>
			<li><input type="checkbox" name="select-osm" value='["highway"="bus_stop"]' />Bus</li>
			<li><input type="checkbox" name="select-osm" value='["amenity"="parking"]["access"!="private"]' />Parking</li>
			<li><input type="checkbox" name="select-osm" value='["amenity"="restaurant"]' />Restaurant</li>
			<li><input type="checkbox" name="select-osm" value='["shop"~"supermarket|convenience"]' />Alimentation</li>
			<li><input type="checkbox" name="select-osm" value='["amenity"="toilets"]' />WC</li>
			<li><input type="checkbox" name="select-osm" value='["amenity"="telephone"]' />Cabine téléphonique</li>
		</ul>
	</div>

	<div>
		Pyrenees-refuges.com
		<input type="checkbox" name="select-prc" />
		<p id="select-prc-status"></p>
	</div>

	<div>
		Camptocamp.org
		<input type="checkbox" name="select-c2c" />
		<p id="select-c2c-status"></p>
	</div>

	<div>
		Alpages.info
		<input type="checkbox" name="select-alpages" value="all" />
		<p id="select-alpages-status"></p>
		<ul>
			<li><input type="checkbox" name="select-alpages" value="4" />Cabane</li>
			<li><input type="checkbox" name="select-alpages" value="5" />Point d'eau</li>
		</ul>
	</div>
</div>
