<!-- IF postrow.ACTIVITE  -->
	<p>Activité :
		<a onclick="displayAjax('viewtopic.php?template=viewtopic&p={postrow.GYM_ACTIVITE}')">
			<b>{postrow.ACTIVITE}</b>
		</a>
	</p>
<!-- ENDIF -->

<!-- IF postrow.INTENSITE  -->
	<p>Intensité :
		<a onclick="displayAjax('viewtopic.php?template=viewtopic&p={postrow.GYM_INTENSITE}')">
			<b>{postrow.INTENSITE}</b>
		</a>
	</p>
<!-- ENDIF -->

<!-- IF postrow.LIEU -->
	<p>Lieu :
		<a onclick="displayAjax('viewtopic.php?template=viewtopic&p={postrow.GYM_LIEU}')">
			<b>{postrow.LIEU}{postrow.GYM_LIEU}</b>
		</a>
	</p>
<!-- ENDIF -->

<!-- IF postrow.ANIMATEUR -->
	<p>Animateur:
		<a onclick="displayAjax('viewtopic.php?template=viewtopic&p={postrow.GYM_ANIMATEUR}')">
			<b>{postrow.ANIMATEUR}</b>
		</a>
	</p>
<!-- ENDIF -->

<!-- IF postrow.JOUR or postrow.HORAIRES -->
	<p>Horaires: <b>{postrow.JOUR}</b> <b>{postrow.HORAIRE}</b></p>
<!-- ENDIF -->
