<p style="clear:both">
<div id="map-selector">
	<ul>
		<li><input type="checkbox" name="couches-alpages" value="3" checked="checked" />Alpages</li>
		<li><input type="checkbox" name="couches-alpages" value="4" checked="checked" />Cabanes</li>
		<li><input type="checkbox" name="couches-alpages" value="5" checked="checked" />Points d'eau</li>
		<li><input type="checkbox" name="couches-alpages" value="6" checked="checked" />Réseau téléphonique et Internet</li>
	</ul>
	<ul>
		<li><input type="checkbox" name="wri-poi" /> refuges.info</li>
		<li><input type="checkbox" name="prc-poi" /> pyrenees-refuges.com</li>
		<li><input type="checkbox" name="c2c-poi" /> camptocamp.org</li>
		<li><input type="checkbox" name="alpi" /> alpages.info</li>
	</ul>
</div>
<p style="clear:both">
