/* DEBUG */
pre {
	text-align: left;
}

/*
Charte
Bleu 5826F4
Cyan 08BABE
*/

/* Ménage phpBB */
.site_logo { /* Logo phpBB */
	background-size: 48px !important;
	background-image: url("./images/logo.png");
}
.section-viewtopic .post-buttons li:not(:first-child),
#nav-main > li:nth-of-type(2), /* FAQ */
.section-posting #postingbox .fields1 > dl:first-child, /* Icône de sujet */
.section-posting #poll-panel-tab, /* Options */
.section-posting #options-panel .fields1 > div, /* Options */
.section-posting #options-panel dl label:not([for=delete_permanent]),
.section-posting #options-panel #edit_reason,
.section-posting #confirm .fields1, /* Détails confirmation destruction */
.section-posting input[name=preview],
.section-posting input[name=save],
.section-posting #smiley-box strong,
.section-posting #review,
.section-posting #topicreview {
	display: none !important;
}
@media print and (color) {
	#search-box,
	.navbar	{
		display: none !important;
	}
	body,
	.post {
		background: white !important;
	}
}

/* Y compris phpBB */
html{
	height: 100%;
}
body {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("./images/fond.jpg");
	background-size: cover;
	background-position: center center;
	font-family: arial, sans-serif;
}

/* Banniere */
/* User connexion */
.gym .edit-user {
	float: left;
	padding-top: 1em;
}
.gym .edit-user > a {
	color: white;
	text-decoration: none;
}
.gym .edit-user ul {
	display: none;
	position: absolute;
	left: calc(45px + 3vw);
	margin: 0;
	padding: 0.3em;
	background: white;
	list-style-type: none;
	z-index: 10;
}
.gym .edit-user:hover ul {
	display: block;
}
@media (max-width: 600px) {
	.gym .edit-user {
		display: none;
	}
}
@media (max-width: 400px) {
	.gym .banniere h1 span {
		display: none;
	}
}
/* Titre */
.gym .banniere {
	text-align: center;
	background: #5826F4;
}
.gym div.banniere h1 {
	margin: 0;
	padding: 0.6em;
	display: inline-block;
}
.gym .banniere h1 a {
	font-size: 1.5em;
	color: white;
	text-decoration: none;
}
/* Search box */
.gym form.recherche {
	float: right;
	padding-top: 1em;
}
.gym .recherche fieldset {
	padding: 0;
}
.gym .recherche input {
	display: none;
}
.gym .recherche:hover input {
	display: inline-block;
}
.gym .recherche .button-search {
	padding: 0;
}
/* Breadcrumb */
.gym ul.breadcrumb {
    position: relative;
    top: -0.9em;
	margin: 0;
	padding: 0;
	color: white;
}
.gym ul.breadcrumb > li {
	display: inline-block;
	padding: 0.3em;
	border-radius: 1em;
	background: #08BABE;
}
.gym ul.breadcrumb li ul {
	display: none;
	position: absolute;
	margin: 0 -0.2em;
	padding: 0.2em;
	border-radius: 1em;
	background: #08BABE;
	list-style-type: none;
}
.gym .breadcrumb a {
	color: white;
}
.gym .breadcrumb li:hover ul {
	display: block;
}

/******************** VALIDE ********************/

/* Pages GV */
.gym .logo img {
	width: calc(45px + 3vw);
	float: left;
}
.gym-index .titre {
	padding: 1em;
	text-align: center;
}
.gym-viewtopic .titre {
	display: inline-block;
	padding: 1em;
}
.gym .titre h1 {
	display: inline;
	padding: 0.3em 1em;
	border-radius: 2em;
	background: #5826F4;
	font-size: 1.4em;
}
.gym-viewtopic .titre h1 {
	font-size: 1em;
}
.gym-index .titre h1 a {
	color: white;
}

/* Page d'accueil */
.gym-index .intro {
	margin: 0 calc(10% - 54px);
	margin-bottom: 2em;
	padding: 0.3em;
	border-radius: 0.5em;
	background: white;
}
.gym-index .intro p {
	margin: 0.3em;
	text-indent: 1.5em;
	text-align: justify;
}
.gym-index .intro:after {
    content: '';
    display: block;
    clear: both;
}
@media (max-width: 600px) {
	.gym .logo,
	.gym-index h1 span {
		display: none;
	}
	.gym-index body {
		background-image: none;
	}
}

/* Evenements */
.gym-index .evenement h1 {
	margin: 1em calc(10% - 54px) !important;
}
.gym-index .evenement {
	margin: 1em calc(10% - 54px);
	border: 0.2em solid #077;
	border-radius: 0.5em;
	background: #CEF;
	font-size: 1em;
}
.gym-index .evenement:after {
    content: '';
    display: block;
    clear: both;
}
.gym-index .evenement h2 {
	margin: 0 !important;
	padding: 0.1em;
	background: #077;
	color: white;
	font-size: 1.2em;
}
.gym-index .evenement a {
	color: white;
}
.gym-index .evenement > div {
	padding: 0.2em;
}
.gym-index .evenement p {
	margin: 0;
}
@media (max-width: 600px) {
	.gym-index .evenement {
		border: 0;
		border-radius: 0;
	}
	.gym-index .evenement h2 {
		margin: 0;
	}
}

/* Slideshow */
.slideshow {
	float: right;
	margin-left: 0.5em;
	width: 400px;
	height: 300px;
	overflow: hidden;
}
.slideshow ul {
	width: 600%;
	height: 300px;
	padding: 0; 
	margin: 0;
	list-style: none;
}
.slideshow li {
	float: left;
}
@media (max-width: 600px) {
	.slideshow {
		display: none;
	}
}

/* Menu principal */
.gym ul.menu {
	width: 100%;
	margin: 0;
	padding: 0.3em;
}
.gym-index ul.menu,
.gym-viewtopic .page ul.menu {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.gym-viewtopic ul.menu {
	margin: 0.5em;
}
.gym-viewtopic .menu > li {
	display: inline;
	margin-right: 0.5em;
}
.gym-viewtopic > .menu > li:first-child {
	font-size: 1.4em;
	border-radius: 1em;
	padding: 0.3em;
}
.gym-viewtopic .menu > li:first-child ul {
	font-size: initial;
}
.gym-viewtopic .menu > li ul li:first-child {
	font-size: 1.4em;
}
.gym .menu li {
	margin-bottom: 0.4em;
	padding: 0.4em;
	border-radius: 1em;
	list-style-type: none;
}
.gym .menu li a {
	color: black;
}
.gym-viewtopic > .menu > li:first-child a {
	color: white;
}
.gym .menu > li > span,
.gym .menu > li > a,
.gym .menu li ul li:first-child span,
.gym .menu > li > a {
	font-weight: bold;
}
.gym .menu li ul {
	position: absolute;
	border-radius: 1em;
	padding: 0.3em;
	margin-left: -0.4em;
	display: none;
}
.gym .menu li:hover ul {
	display: block;
}
.gym .menu li ul li {
	padding: 0;
}



/***********************************************/
													#WWWedit-user{display:none}






#WWWtop {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
}
/*
#wnewmenu > li:first-child label {
	background: #5826F4;
	padding: 0.3em 1em;
}
#wnewmenu > li:first-child a {
	wfont-size: 1.3em;
	color: white;
}
.gym-index .menu > li,
.gym-index .menu ul li:first-child {
}
.gym-index .menu ul {
	border-radius: 1em;
	wmargin: 0;
	padding: 0.3em;
}
.gym-index .menu ul li:not(:first-child) {
	wdisplay: none;
}
*/

/*
	z-index: 2;
	border-radius: 1em;
	wposition: absolute;
	left: 0;
.gym-index .menu li:hover ul {
	display: initial;
}
.gym-index .menu ul li {
	padding: 0 1em;
	list-style-type: none;
}
.gymWWW .baniere div {
	background: #5826f4;
	padding: 0.2em;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.gymWWW .logo,
.gymWWW .baniere {
	text-decoration: none !important;
}
*/
/***********************************************/

@media (max-width: 600px) {
	.gymWWW body {
		background-image: none;
	}
	.gymWWW .logo,
	.wwwgym .recherche {
		display: none;
	}
}
.copyright-dc {
	text-align: center;
	margin-top: 2em;
	font-size: 0.7em;
}

/* Menus bulles */
.gymWWW #menu,
.gym-viewtopic .sous-menu {
	padding: 0;
	text-align: center;
}
.gymWWW #menu li,
.gym-viewtopic .sous-menu li {
	display: inline-block;
	margin: 0.2em;
	padding: 0.3em;
	border-radius: 2em;
	font-weight: bold;
}
.gymWWW #menu li a,
.gym-viewtopic .sous-menu li a {
	color: black;
}

/* Corps de la page */
.gym .page {
	margin: 0 calc(10% - 54px);
	border-radius: 0.2em;
	background: white;
}
.gym .page > div {
	margin: 0.3em;
	padding: 0 0.2em 0.2em 0.2em;
	text-indent: 1.5em;
	text-align: justify;
}
.gym h1 {
	margin: 1.5em 0 0 0;
	padding: 0.2em;
	border-radius: 0.2em;
	background: #5826F4;
	color: white;
	font-size: 1.3em;
}
.gym .page h1 a,
.gym .page h1 i {
	color: white;
}
.gym .page h2 {
	margin: 1.2em 0 0.2em 0;
	padding: 0.2em;
	border-radius: 0.2em;
	background: #00B3B3;
	color: white;
	font-size: 1.1em;
}
.gym .page h2 a {
	color: white;
}
.gym .page h3 {
	margin: 0.5em 0 0 0;
	color: #5826F4;
}
.gym .page h4 {
	margin: 0.5em 0 0 0;
	color: #296666;
}
.gymWWW .page p {
	margin: 0;
}
.gymWWW .page .codebox p {
	display: none;
}
.gymWWW .page .codebox pre {
	margin: 0;
}
.gymWWW .page ul {
	margin: 0;
	list-style-type: square;
}
@media (max-width: 600px) {
	.gym .page {
		margin: 0;
	}
}
@media (max-width: 600px) {
	.gymWWW .page {
		margin: 0 1%;
	}
}

/* Attachements (notamment liens) */
.gym .inline-attachment,
.gym .inline-attachment dl {
	display: inline-block;
	float: none !important;
	margin: 0 !important;
	width: initial;
	max-width: 30vh;
}
.gym .file {
	margin: 0;
}
.gym .file dd { /* Supprime le compte de vues, ... */
	display: none;
}
.gym .file img {
	max-width: 30vh;
	border-radius: 1em;
}
.gym .inline-attachment {
	float: right;
	margin-left: 1em;
}
.gym .image-droite {
	float: right;
	margin-left: 0.5em;
}
.gym .image-gauche {
	float: left;
	margin-left: 0.5em;
}
@media (max-width: 600px) {
	.gym .attach-image {
		display: none;
	}
}

/* BBCodes spéciaux */
.gymWWW .carte {
	clear: both;
	margin: 1em calc(50% - 250px);
	width: 500px;
	height: 375px;
}
@media (max-width: 600px) {
	.gymWWW .carte {
		margin: 0;
		width: 100%;
		height: 70vw;
	}
}

/* Horaires */
.gym .horaires {
	clear: both;
	margin: 0 0 0.3em 0;
}
.gym .horaires > div {
	text-align: initial;
	font-size: 120%;
	text-transform: capitalize;
}
.gym .horaires table {
	border: 4px solid;
	border-collapse: collapse;
}
.gym .horaires td {
	border: 1px dashed;
	padding: 0.2em;
	text-align: left;
}
.gym .horaires a {
	color: black;
}
@media (max-width: 600px) {
	.gym .horaires > div {
		margin-left: 1em !important;
	}
	.gym .horaires {
		margin-left: 0;
		margin-right: 0;
	}
	.gym .horaires table {
		width: 100%;
		margin-left: 0 !important;
	}
}

/* Calendrier */
.gym table.calendrier {
	margin: 0 auto;
	border: 2px solid grey;
	border-collapse: collapse;
	border-spacing: 0;
}
.gym .calendrier td {
	margin: 0;
	border: 1px solid grey;
	padding: 0.25em;
	width: 1.5em;
	text-align: center;
	color: #999;
}
.gym .calendrier td:first-child {
	text-align: left;
	color: black;
}
.gym .calendrier td.selected {
	background: #08babe;
	font-weight: bold;
	color: white;
}