/* DEBUG */
pre {
	text-align: left;
}

/* Avertissement au posting */
.section-posting #attach-panel-multi::after {
	content: "Attendre la fin du chargement des fichiers pour enregistrer le sujet.";
	background: yellow;
}

/* Ménage phpBB */
.site_logo {
	background-image: url("./images/logo.jpg");
}
@media (max-width: 600px) {
	#logo {
		display: none !important;
	}
}
.section-viewtopic .post-buttons li:not(:first-child),
#nav-main > li:nth-of-type(2), /* FAQ */
.section-posting #postingbox .fields1 > dl:first-child, /* Icône de sujet */
.section-posting #poll-panel-tab, /* Options */
.section-posting #options-panel .fields1 > div, /* Options */
.section-posting #options-panel dl label:not([for=delete_permanent]),
.section-posting #options-panel #edit_reason,
.section-posting #confirm .fields1, /* Détails confirmation destruction */
.section-posting input[name=preview],
.section-posting input[name=save],
.section-posting #smiley-box strong,
.section-posting #review,
.section-posting #topicreview {
	display: none !important;
}
@media print and (color) { /* //TODO */
	#search-box,
	.navbar	{
		display: none !important;
	}
	body,
	.post {
		background: white !important;
	}
}

/* Style de la page d'accueil */
html.gym_index  {
	height: 100%;
}
.gym_index body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("images/plafond.jpg"), url("images/ballons.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: top, center left;
	background-size: 100%, 20%;
	background-color: white;
	text-align: center;
}
.gym_index #logo img {
	background: white;
	float: left;
	margin: 0.5em;
	height: 5em;
	border-radius: 1em;
}
@media (max-width: 600px) {
	.gym_index body {
		background-image: none;
	}
	.gym_index #logo,
	.gym_index #search {
		display: none;
	}
}
.gym_index .baniere {
	display: inline-block;
	margin: 0.2em;
	padding: 0.4em;
	border-radius: 1em;
	background: #ffc;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 1.5em;
	color: black;
}

.gym_index form#search {
	float: right;
}
.gym_index #search fieldset {
	margin: 0;
	padding: 0;
}
.gym_index #search input {
	display: none;
}
.gym_index #search:hover input {
	display: inline-block;
}
.gym_index #search .button-search {
	padding: 0;
}

.gym_index #menu,
.gym_index #sous-menu {
	padding: 0;
}
.gym_index #menu li,
.gym_index #sous-menu li {
	display: inline-block;
	margin: .3em;
	padding: .5em;
	border-radius: 2em;
	font-family: Times New Roman;
	font-weight: bold;
}
.gym_index #sous-menu li a,
.gym_index #menu li a {
	color: black;
	text-decoration: none;
}

/* Crayons d'édition */
#edit-page {
	float: right;
}
#edit-user,
#edit-page {
	float: right;
	text-align: right;
	line-height: 1.5em;
}
#edit-user .dropdown-contents {
	display: none;
	position: absolute;
	right: 0;
	margin: 0;
	background: white;
	padding: 0.3em;
	text-align: left;
	list-style-type: none;
}
#edit-user:hover .dropdown-contents {
	display: block;
}
#edit-user li {
	margin: 0.3em;
}

.gym_index #page,
.gym_index #presentation,
.gym_index #evenements {
	margin: 0 8%;
	padding: 0 1%;
	background: white !important;
	text-align: left;
}
.gym_index #presentation h3 {
	margin-top: 0.5em;
}
.gym_index #presentation p {
	margin: 0;
}
.gym_index #page h2 {
 	text-align: center;
}
.gym_index #evenements h1 {
 	text-align: center;
	font-size: 2.2em;
	font-family: "Noto Serif", serif;
	color: grey;	
}
.gym_index #presentation .bandeau-vert,
.gym_index #evenements .bandeau-vert {
	padding-left: 0.5em;
	text-align: left;
}
.gym_index #evenements p {
	margin: 0.3em 0;
	text-indent: 1em;
}
@media (max-width: 600px) {
	.gym_index #page,
	.gym_index #presentation,
	.gym_index #evenements {
		margin: 0;
	}
}

/* Attachements (notamment liens) */
.inline-attachment,
.inline-attachment dl {
	display: inline-block;
	float: none !important;
	margin: 0 !important;
	width: initial;
	max-width: 30vh;
}

/* Images incluses dans le texte */
.file {
	margin: 0;
}
.file dd { /* Supprime le compte de vues, ... */
	display: none;
}
.file img {
	max-width: 30vh;
	border-radius: 1em;
}
.inline-attachment {
	float: right;
	margin-left: 1em;
}
.image-droite .inline-attachment {
	float: right !important;
	margin-left: 1em !important;
}
.image-gauche .inline-attachment {
	float: left !important;
	margin-right: 1em !important;
}
@media (max-width: 600px) {
	.attach-image {
		display: none;
	}
}

/* BBCodes spéciaux */
.titre-gris {
	margin-bottom: 0.3em;
	text-indent: 0;
	color: #888;
	font-size: 1.2em;
	font-weight: 700;
}
.bandeau-vert {
	clear: both;
	text-align: center;
	background-color: #329932;
	color: white;
	font-size: 1.2em;
}
.bandeau-vert a {
	color: white;
	text-decoration: underline solid white;
}
.texte-vert {
	color: rgb(0, 128, 0);
}
.carte {
	clear: both;
	margin: 1em calc(50% - 250px);
	width: 500px;
	height: 375px;
}
@media (max-width: 600px) {
	.carte {
		margin: 0;
		width: 100%;
		height: 70vw;
	}
}

/* HORAIRES */
.horaires {
	clear: both;
	margin: 1em 0;
}
.horaires div {
	text-indent: 3em;
	text-transform: capitalize;
}
.horaires table {
	margin: 0 1em;
	border: 4px solid;
	border-collapse: collapse;
}
.horaires td {
	border: 1px dashed;
	padding: 0.2em;
	text-align: left;
}
.horaires a {
	text-decoration: none;
	color: black;
}
@media (max-width: 600px) {
	.horaires {
		margin-left: 0;
		margin-right: 0;
	}
	.horaires table {
		width: 100%;
		margin-left: 0 !important;
	}
}

/* Calendrier */
.calendrier {
	width: calc(100%-2px);
	border: 2px solid grey;
}
.calendrier table {
	width: 100%;
	border-collapse: collapse;
}
.calendrier * {
	border-spacing: 0;
}
.calendrier tr:first-child {
	display: none;
}
.calendrier td {
	color: #999;
}
.calendrier td:first-child {
	color: black;
}
.calendrier td.selected {
	background: #cfc;
	color: black;
	font-weight: bold;
}
.calendrier td {
	border: 1px solid grey;
	text-align: center;
	width: 8%;
	margin: 0;
	padding: 0;
}
.calendrier a {
	text-decoration: none;
	color: black;
}

/* POSTING */
#liste_semaines {
	font-size: 1em;
}
#liste_semaines tr:first-child {
	display: none;
}
#liste_semaines td {
	min-width: 4em;
	text-align: right;
}
#liste_semaines td:first-child {
	text-align: left;
}