/* DEBUG */
pre {
	text-align: left;
}

/* Ménage phpBB */
.site_logo { /* Logo phpBB */
	background-size: 48px !important;
	background-image: url("./images/logo.png");
}
#nav-main > li:nth-of-type(2), /* FAQ */
.section-posting #postingbox .fields1 > dl:first-child, /* Icône de sujet */
.section-posting #options-panel .fields1 > div, /* Options */
.section-posting #options-panel label[for=edit_reason],
.section-posting #options-panel #edit_reason,
.section-posting input[name=preview],
.section-posting #smiley-box strong {
	display: none !important;
}

/* Y compris phpBB */
html{
	height: 100%;
}
body {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	background: white;
	font-family: arial, sans-serif;
}
.copyright {
    clear: both;
	text-align: center;
	font-size: 0.7em;
}

/* Header */
.gym .banniere {
	text-align: center;
	background: #5826F4;
}
.gym div.banniere h1 {
	margin: 0;
	padding: 0.5em;
	display: inline-block;
}
.gym .banniere h1 a {
	font-size: 1.5em;
	color: white;
	text-decoration: none;
}
.gym .banniere h1 a:hover {
	background: blue;
}
.gym .edit-user > a {
	color: white;
}
.gym .logo {
	position: absolute;
	top: 0;
}
.gym .logo img {
	height: 3.5em;
	float: left;
}
.gym .edit-user {
	float: left;
	margin-left: calc(50px + 3vw);
	padding-top: 1em;
	color: white;
}
.gym .edit-user ul {
	display: none;
	position: absolute;
	left: calc(45px + 3vw);
	margin: 0;
	padding: 0.3em;
	text-align: left;
	background: white;
	list-style: none;
	z-index: 10;
}
.gym .edit-user:hover ul {
	display: block;
}
.gym form.recherche {
	float: right;
	padding-top: 1em;
}
.gym .recherche fieldset,
.gym .recherche .button-search {
	padding: 0;
}
.gym .recherche input {
	display: none;
}
.gym .recherche:hover input {
	display: inline-block;
}
@media (max-width: 600px) {
	.gym .logo,
	.gym .edit-user {
		display: none;
	}
}
@media (max-width: 400px) {
	.gym .banniere h1 span {
		display: none;
	}
}

/* Corps de la page */
.gym .page {
	margin: 0 calc(10% - 50px);
	border-radius: 0.2em;
	background: white;
}
.gym .page > div {
	margin: 0 0.3em 1em 0.3em;
	padding: 0.2em;
	text-align: justify;
}
.gym ul {
	margin: 0;
	padding-left: 1em;
}
@media (max-width: 400px) {
	.gym .page  {
		font-size: 4.2vw;
	}
}
.gym h1 {
	margin-top: 1em;
	padding: 0.2em;
	border-radius: 0.2em;
	background: #5826F4;
	color: white;
	font-size: 1.3em;
}
.gym h1 a {
	color: white;
}
.gym h2:first-child {
	margin-top: 0;
}
.gym h2 {
	margin: 0;
	padding: 0.2em;
	border-radius: 0.2em;
	background: #08BABE;
	color: white;
	font-size: 1.1em;
}
.gym h2 a {
	color: white;
}
.gym h3 {
	margin: 0.5em 0 0 0;
	color: #5826F4;
}
.gym h4 {
	margin: 0.5em 0 0 0;
	color: #08BABE;
}
.gym a {
	color: blue;
}
.gym a:hover {
	background: blue;
	color: white;
}
@media (max-width: 600px) {
	.gym .page {
		margin: 0;
		border-radius: 0;
	}
	.gym .page > div {
		margin: 0.2em 0.2em 1em 0.2em;
		padding: 0;
		border-radius: 0;
	}
	.gym h1 {
		margin: 0;
		margin-top: 1em;
		padding: 1vw;
		border-radius: 0;
	}
	.gym h2 {
		margin: 0;
		padding: 1vw;
		border-radius: 0;
	}
}

/* Attachements (liens et images) */
.gym .inline-attachment,
.gym .inline-attachment dl,
.gym .file {
	display: inline-block;
	float: none !important;
	margin: 0 !important;
	text-indent: 0 !important;
}
.gym .file dd { /* Supprime le compte de vues, ... */
	display: none;
}
.gym .file img {
	margin: 1em;
	max-width: 30vh;
	border-radius: 1em;
}
.gym .image-droite {
	float: right;
	margin-left: 0.5em;
}
.gym .image-gauche {
	float: left;
	margin-right: 0.5em;
}
.gym .animatrice {
	margin-bottom: 1em;
}
.gym .animatrice .attach-image img {
	width: 20vw !important;
}
@media (max-width: 600px) {
	.gym .inline-attachment,
	.gym .attach-image {
		display: none !important;
	}
	.gym .animatrice .image-droite,
	.gym .animatrice .image-gauche,
	.gym .animatrice .inline-attachment,
	.gym .animatrice .attach-image {
		display: block;
		margin: 0;
		padding: 0 0.2em 0 0;
	}
}

/* Menu accueil et sous-menu pages */
.gym .menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 2em;
	padding: 0;
}
.gym .menu li div {
	margin: 0;
	border-radius: 0.5em;
	padding: 0.3em;
}
.gym .menu ul {
	border-radius: 0.5em;
	padding: 0.3em;
}
.gym .menu li {
	margin: 0;
	padding: 0.1em;
	list-style: none;
}

.gym .menu > li a {
	color: black;
}
.gym .menu > li a:hover,
.gym .menu > li div a {
	color: white;
}

.gym .submenu a {
	color: black !important;
}
.gym .submenu a:hover {
	color: white !important;
}

.gym .replie ul {
	z-index: 1;
	position: absolute;
	padding: 0;
}
.gym .replie li:hover ul {
	padding: 0.3em;
}
.gym .replie li ul {
	margin: 0.3em;
}
.gym .replie li:hover ul {
	margin: 0;
}
.gym .replie li ul li {
	display: none;
	white-space: nowrap ;
}
.gym .replie i {
	display: none;
}
.gym .replie li:hover ul li,
.gym .menu-select {
	display: block !important;
}
.gym li ul li.menu-select {
	margin: -0.3em;
	padding: 0.3em;
	border-radius: 0.5em;
	background: yellow;
	color: black;
	font-weight: bold;
}
.gym li:hover ul li.menu-select {
	margin: 0;
	padding: 0.1em;
}

/* Slideshow */
.slideshow {
	float: right;
	width: 400px;
	height: 300px;
	padding: 0 0 0 0.5em !important;
	text-indent: 0;
	overflow: hidden;
	background: white;
}
.slideshow ul {
	width: 600%;
	height: 300px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.slideshow li {
	float: left;
}
@media (max-width: 600px) {
	.slideshow {
		display: none;
	}
}

/* Horaires */
.single-button {
	clear: both;
	margin-bottom: 0;
}
.single-button button {
	cursor: pointer;
}
.gym .horaires {
	clear: both;
	margin: 0 0 0.3em 0;
}
.gym .horaires > div {
	text-align: initial;
	font-size: 120%;
	text-transform: capitalize;
}
.gym table.horaires {
	margin-top: 0.5em;
	border: 1px dashed;
	border-collapse: collapse;
}
.gym .horaires table {
	border: 4px solid;
	border-collapse: collapse;
}
.gym .horaires td {
	border: 1px dashed;
	padding: 0.2em;
	text-align: left;
}
.gym .horaires a {
	color: black;
}
.gym .horaires .cert,
.gym .horaires .cert:hover {
	padding: 0 0.2em;
	border-radius: 1em;
	background: #8f8;
	color: red;
	font-weight: bold;
}
.gym .horaires a:hover {
	color: white;
}
@media (max-width: 600px) {
	.gym .horaires,
	.gym .horaires > div,
	.gym .horaires table {
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		margin-left: 0 !important;
	}
}
.gym .tooltip {
	display: inline-block;
}
.gym .tooltip > i {
	font-size: 2em;
}
.gym .tooltip table {
	display: none;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
}
.gym .tooltip:hover table {
	display: block;
}

/* Calendrier */
.gym table.calendrier {
	margin: 0 auto;
	border: 2px solid grey;
	border-collapse: collapse;
	border-spacing: 0;
}
.gym .calendrier tr:first-child td {
	text-align: center;
	font-weight: bold;
}
.gym .calendrier td {
	margin: 0;
	border: 1px solid grey;
	padding: 0.25em;
	width: 1.5em;
	text-align: center;
	color: #999;
}
.gym .calendrier td:first-child {
	text-align: left;
	color: black;
}
.gym .calendrier td.selected {
	background: #08BABE;
	color: white;
	font-weight: bold;
}
.section-posting .calendrier td {
	padding: 0.2em;
	text-align: right;
}
.gym .visio {
	color: blue !important;
}
.gym .visio:hover {
	color: white !important;
}

/* Cartes */
#carte {
    clear: both;
    width: 450px;
    height: 350px;
    margin: 1em calc(50% - 250px);
}