/* DEBUG */
pre {
	text-align: left;
}

/* Ménage phpBB */
.site_logo { /* Logo phpBB */
	background-size: 48px !important;
	background-image: url("./images/logo.png");
}
.section-viewtopic .post-buttons li:not(:first-child),
#nav-main > li:nth-of-type(2), /* FAQ */
.section-posting #postingbox .fields1 > dl:first-child, /* Icône de sujet */
.section-posting #poll-panel-tab, /* Options */
.section-posting #options-panel .fields1 > div, /* Options */
.section-posting #options-panel dl label:not([for=delete_permanent]),
.section-posting #options-panel #edit_reason,
.section-posting #confirm .fields1, /* Détails confirmation destruction */
.section-posting input[name=preview],
.section-posting input[name=save],
.section-posting #smiley-box strong,
.section-posting #review,
.section-posting #topicreview {
	display: none !important;
}
@media print and (color) {
	#search-box,
	.navbar	{
		display: none !important;
	}
	body,
	.post {
		background: white !important;
	}
}

/* Haut de la page style GV */
html.gym  {
	height: 100%;
}
.gym body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}
.gym .logo img {
	width: calc(45px + 3vw);
	float: left;
	margin-top: 0.3em;
}
.gym .baniere div {
	background: #5826f4;
	padding: 0.2em;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.gym .logo,
.gym .baniere {
	text-decoration: none !important;
}
@media (max-width: 600px) {
	.gym body {
		background-image: none;
	}
	.gym .logo,
	.gym #search {
		display: none;
	}
}
.copyright-dc {
	text-align: center;
	margin-top: 2em;
	font-size: 0.7em;
}

/* Search box */
.gym form#search {
	margin-top: calc(0.9em - 10px);
	float: right;
}
.gym #search fieldset {
	padding: 0;
}
.gym #search input {
	display: none;
}
.gym #search:hover input {
	display: inline-block;
}
.gym #search .button-search {
	padding: 0;
}

/* User connexion box */
.gym #edit-user {
	position: absolute;
	top: 0.4em;
	left: calc(45px + 3vw);
	color: white;
	white-space: nowrap;
}
.gym #edit-user > a{
	color: white;
	text-decoration: none;
}
.gym #edit-user i {
	color: white;
}
.gym #edit-user ul {
	display: none;
	position: absolute;
	left: 0;
	margin: 0;
	padding: 0.3em;
	background: white;
	list-style-type: none;
}
.gym #edit-user li {
	padding: 0.1em;
}
.gym #edit-user ul i {
	display: none;
}
.gym #edit-user:hover ul {
	display: block;
}
.gym #edit-user a:hover {
	font-weight: bold;
}
@media (max-width: 600px) {
	.gym #edit-user {
		left: 0;
	}
}

/* Menus bulles */
.gym #menu,
.gym #sous-menu {
	padding: 0;
	text-align: center;
}
.gym #menu li,
.gym #sous-menu li {
	display: inline-block;
	margin: 0.2em;
	padding: 0.3em;
	border-radius: 2em;
	font-weight: bold;
}
.gym #menu li a,
.gym #sous-menu li a {
	color: black;
}

/* Corps de la page */
.gym #page {
	margin: 0 calc(10% - 54px);
	background: white !important;
	text-align: justify;
}
.gym #page h1 {
	clear: both;
	margin: 1.5em 0 0 0;
	padding: 0.2em;
	border-radius: 0.2em;
	background: #2727F2;
	color: white;
	font-size: 1.3em;
}
.gym #page h1 a,
.gym #page h1 i {
	color: white;
}
.gym #page h2 {
	margin: 1.2em 0 0.2em 0;
	padding: 0.2em;
	border-radius: 0.2em;
	background: #00B3B3;
	color: white;
	Wcolor: white !important;
	font-size: 1.1em;
}
.gym #page h2 a {
	color: white;
}
.gym #page h3 {
	margin: 0.5em 0 0 0;
	color: #2727F2;
}
.gym #page h4 {
	margin: 0.5em 0 0 0;
	color: #296666;
}
.gym #page p {
	margin: 0;
}
.gym #page .codebox p {
	display: none;
}
.gym #page .codebox pre {
	margin: 0;
}
.gym #page ul {
	margin: 0;
	list-style-type: square;
}
@media (max-width: 600px) {
	.gym #page {
		margin: 0 1%;
	}
}

/* Attachements (notamment liens) */
.gym .inline-attachment,
.gym .inline-attachment dl {
	display: inline-block;
	float: none !important;
	margin: 0 !important;
	width: initial;
	max-width: 30vh;
}

/* Images incluses dans le texte */
.gym .file {
	margin: 0;
}
.gym .file dd { /* Supprime le compte de vues, ... */
	display: none;
}
.gym .file img {
	max-width: 30vh;
	border-radius: 1em;
}
.gym .inline-attachment {
	float: right;
	margin-left: 1em;
}
.gym .image-droite,
.gym .image-droite .inline-attachment {
	float: right !important;
	margin-left: 1em !important;
}
.gym .image-gauche,
.gym .image-gauche .inline-attachment {
	float: left !important;
	margin-right: 1em !important;
}
@media (max-width: 600px) {
	.gym .attach-image {
		display: none;
	}
}

/* BBCodes spéciaux */
.gym .carte {
	clear: both;
	margin: 1em calc(50% - 250px);
	width: 500px;
	height: 375px;
}
@media (max-width: 600px) {
	.gym .carte {
		margin: 0;
		width: 100%;
		height: 70vw;
	}
}

/* Horaires */
.gym .horaires {
	clear: both;
	margin: 0 0 0.3em 0;
}
.gym .horaires > div {
	text-align: initial;
	font-size: 120%;
	text-transform: capitalize;
}
.gym .horaires table {
	border: 4px solid;
	border-collapse: collapse;
}
.gym .horaires td {
	border: 1px dashed;
	padding: 0.2em;
	text-align: left;
}
.gym .horaires a {
	color: black;
}
@media (max-width: 600px) {
	.gym .horaires > div {
		margin-left: 1em !important;
	}
	.gym .horaires {
		margin-left: 0;
		margin-right: 0;
	}
	.gym .horaires table {
		width: 100%;
		margin-left: 0 !important;
	}
}

/* Calendrier */
.gym table.calendrier {
	margin: 0 auto;
	border: 2px solid grey;
	border-collapse: collapse;
	border-spacing: 0;
}
.gym .calendrier td {
	margin: 0;
	border: 1px solid grey;
	padding: 0.25em;
	width: 1.5em;
	text-align: center;
	color: #999;
}
.gym .calendrier td:first-child {
	text-align: left;
	color: black;
}
.gym .calendrier td.selected {
	background: #08babe;
	font-weight: bold;
	color: white;
}