#container-map {
	float: right;
	width: 50%;
	background: #eef5f9;
}
#map {
	width: 100%;
	min-height: 40vw; /* For I.E. */
}
/* Make the height equal to the width */
#map .ol-viewport {
	padding-bottom: 100%;
}
#map:fullscreen .ol-viewport {
	padding-bottom: 0;
}
#container-map > #overlay-selector {
	display: none;
}

.edit-comment p {
	margin: 0;
}
.edit-comment hr {
	clear: none;
}