/* Englobant de la carte */
#map-frame {
	float: right;
	background: white;
	border-left: solid white 10px;
	border-bottom: solid white 10px;
}
#map-frame ul { /* Sélecteur d'overlay, en dessous de la carte */
    list-style-type: none;
}

/* Zone gérée par Openlayers */
#map {
	width: 50vw;
	height: 60vw;
	background-image: linear-gradient(#9AB4CB, #9BCB9A);
}

/* Responsive map for mobiles */
@media screen and (max-width: 600px) {
	#map-frame {
		float: none;
		border: none-left;
	}
	#map {
		width: 100%;
	}
}
