.wrap {
	max-width: none;
	min-width: none;
}
.section-posting .fields1 dl:first-child {
	display: none;
}

/* Carte */
#map {
	width: 50%; /* Support of non CSS3 browsers (Safari on Windows)*/
	width: 50vw;
	height: 50vw;
	max-width: 80vw;
	max-height: 90vh;
	float: right;
	font-size: 16px;
	background-image: linear-gradient(#9AB4CB, #9BCB9A);
}
/* Carte responsive pour mobiles */
/*
@media screen and (max-width: 600px) {
	#map {
		width: 100%;
		max-width: 100%;
		height: 100vw;
		float: none;
	}
	.leaflet-fullscreen-on {
		height: 100% !important;
	}
}
*/

/* Affichage des champs spécifiques */
/*
#position-select,
#edit-select {
	font-size: 1em;
	border: 1px solid #ccc;
}
#edit-change label {
	color:red;
	font-weight: bold;
}
.geo_info p {
	margin: 1em 0 0 0;
}
fieldset .posting-point .fields1 dd {
	margin-left: 8em;
}
fieldset .posting-point .fields1 dt {
	width: 8em;
}
*/
