.section-index .action-bar {
	display: none;
}

/* MAP */
#map {
	float: right;
	height: 50vw;
	width: 50vw;
	background: #eef5f9;
}

/*
.edit-comment p {
	margin: 0;
}
.edit-comment hr {
	clear: none;
}
*/